---
import MainLayout from "../layouts/MainLayout.astro";
import ContactInfo from "./contactinfo.astro";
import ContactForm from "./contactform.astro";
import Locations from "../components/map.astro";
---

<div
  class="snap-y snap-mandatory overflow-y-scroll overflow-x-hidden h-screen transition-all"
>
  <MainLayout
    title="Veritas | Contact"
    seoTitle="Veritas | Contact"
    seoDescription="Address, email, phone number and request form for prospective customers"
  >
    <section
      class="snap-normal snap-start scroll-mt-16 bg-base-300 min-h-screen"
      id="contactinfo"
    >
      <ContactInfo />
    </section>
    <section
      class="snap-always snap-start scroll-mt-16 h-screen w-screen overflow-hidden mx-auto bg-base-100"
      id="locations"
    >
      <Locations />
    </section>
    <section class="snap-always snap-start scroll-mt-16" id="contactanchor">
      <ContactForm />
    </section>
  </MainLayout>
</div>
<script src="../scripts/aboutscript.ts"></script>
