---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Veritas | Contact"
  seoTitle="Veritas | Contact"
  seoDescription="Address, email, phone number and request form for prospective customers"
>
  <section class="text-primary-content body-font relative">
    <div class="container px-5 py-24 mx-auto !flex">
      <div
        class="rounded-lg p-8 flex flex-col w-full bg-base-200 mt-10 lg:mt-0 relative z-10 shadow-md !h-fit"
      >
        <script
          type="text/javascript"
          src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
          style="border:none;width:100%"
          id="form-contact-us-yvm0ss"
          src="https://opnform.com/forms/contact-us-yvm0ss"></iframe>
        <script type="text/javascript">
          document.addEventListener("astro:page-load", () => {
            iFrameResize();
          });
          iFrameResize(
            { log: false, checkOrigin: false },
            "#form-contact-us-yvm0ss"
          );
        </script>
      </div>
    </div>
  </section>
  <section class="bg-base-300">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
      <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-base-content">
          Contact Information
        </h2>
      </div>
      <div class="mt-16 lg:mt-20">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="inset-0 bg-neutral rounded-lg">
            <iframe
              class="h-full w-full border-0 grayscale"
              loading="lazy"
              allowfullscreen
              title="map"
              src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO2XQGpvNj4ARgjZUfpbCWv4&key=AIzaSyBCEfQ6JZJgM4W01L9XGXzErfLigAD0vqQ"
            ></iframe>
          </div>
          <div>
            <div class="max-w-full mx-auto rounded-lg overflow-hidden">
              <div class="px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">
                  Our Headquarters
                </h3>
                <p class="mt-1 text-base-content">
                  398 Martin Avenue, Santa Clara, CA 95050
                </p>
              </div>
              <div class="border-t border-accent px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">Hours</h3>
                <p class="mt-1 text-base-content">Monday - Friday: 7am - 5pm</p>
                <p class="mt-1 text-base-content">Saturday: Closed</p>
                <p class="mt-1 text-base-content">Sunday: Closed</p>
              </div>
              <div class="border-t border-accent px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">Contact</h3>
                <p class="mt-1 text-base-content">
                  Email: info@veritas-inc.com
                </p>
                <p class="mt-1 text-base-content">Phone: +1 877-971-0849</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center p-5">
    <h2 class="text-3xl font-extrabold text-base-content">Our locations</h2>
    <div id="locations" class="mx-auto w-5/6 h-screen"></div>
  </section>
</MainLayout>

<script is:inline src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"
></script>
<script
  is:inline
  src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"
></script>
<script is:inline src="node_modules/datamaps/dist/datamaps.all.min.js"></script>

<script is:inline>
  var arcs = new Datamap({
    element: document.getElementById("locations"),
    scope: "usa",
    fills: {
      defaultFill: "#ABDDA4",
      win: "#0fa0fa",
    },
    data: {
      TX: { fillKey: "win" },
      AZ: { fillKey: "win" },
      ID: { fillKey: "win" },
      CA: { fillKey: "win" },
      NV: { fillKey: "win" },
    },
  });
</script>
