---
import MainLayout from "../layouts/MainLayout.astro";
import ContactInfo from "./contactinfo.astro";
import Locations from "../components/map.astro";
import Contactform from "../components/contactform.astro";
---

<MainLayout
  title="Veritas | Contact"
  seoTitle="Veritas | Contact"
  seoDescription="Address, email, phone number and request form for prospective customers"
>
  <div class="bg-graphics bg-auto lg:bg-cover absolute top-0 h-full w-full">
  </div>
  <section
    class="scroll-mt-16 h-fit my-3 w-full relative z-10"
    id="contactinfo"
  >
    <ContactInfo />
  </section>
  <section
    class="h-fit w-full overflow-hidden mx-auto relative z-10"
    id="locations"
  >
    <Locations />
  </section>
  <section class="scroll-mt-16 w-full relative z-10" id="contactform">
    <Contactform />
  </section>
</MainLayout>

<script src="../scripts/aboutscript.ts"></script>
