---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Veritas | Contact"
  seoTitle="Veritas | Contact"
  seoDescription="Address, email, phone number and request form for prospective customers"
>
  <section class="bg-base-300 text-primary-content body-font relative">
    <div class="container px-5 py-24 mx-auto !flex">
      <div
        class="rounded-lg p-8 flex flex-col w-full bg-base-200 mt-10 lg:mt-0 relative z-10 shadow-md !h-fit"
      >
        <script
          type="text/javascript"
          src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
          style="border:none;width:100%"
          id="form-contact-us-yvm0ss"
          src="https://opnform.com/forms/contact-us-yvm0ss"></iframe>
        <script type="text/javascript">
          document.addEventListener("astro:page-load", () => {
            iFrameResize();
          });
          iFrameResize(
            { log: false, checkOrigin: false },
            "#form-contact-us-yvm0ss"
          );
        </script>
      </div>
    </div>
  </section>
  <section class="bg-base-300">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
      <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-base-content">
          Contact Information
        </h2>
      </div>
      <div class="mt-16 lg:mt-20">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="inset-0 bg-neutral rounded-lg">
            <iframe
              class="h-full w-full border-0 grayscale"
              loading="lazy"
              allowfullscreen
              title="map"
              src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO2XQGpvNj4ARgjZUfpbCWv4&key=AIEfQ6JZJgM4W01L9XGXzErfLigAD0vqQ"
            ></iframe>
          </div>
          <div>
            <div class="max-w-full mx-auto rounded-lg overflow-hidden">
              <div class="px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">
                  Our Headquarters
                </h3>
                <p class="mt-1 text-base-content">
                  398 Martin Avenue, Santa Clara, CA 95050
                </p>
              </div>
              <div class="border-t border-accent px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">Hours</h3>
                <p class="mt-1 text-base-content">Monday - Friday: 7am - 5pm</p>
                <p class="mt-1 text-base-content">Saturday: Closed</p>
                <p class="mt-1 text-base-content">Sunday: Closed</p>
              </div>
              <div class="border-t border-accent px-6 py-4">
                <h3 class="text-lg font-medium text-base-content">Contact</h3>
                <p class="mt-1 text-base-content">
                  Email: info@veritas-inc.com
                </p>
                <p class="mt-1 text-base-content">Phone: +1 877-971-0849</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-base-300">
    <h2 class="text-3xl text-center font-extrabold text-base-content">
      Our work
    </h2>
    <div
      id="locations"
      class="relative mx-auto w-5/6 h-screen text-accent text-center"
    >
    </div>
  </section>
</MainLayout>

<script is:inline src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"
></script>
<script
  is:inline
  src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"
></script>
<script is:inline src="/node_modules/datamaps/dist/datamaps.usa.min.js"
></script>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    Veritasmap();
  });
  function Veritasmap() {
    var locations = new Datamap({
      scope: "usa",
      element: document.querySelector("#locations"),
      geographyConfig: {
        highlightBorderColor: "Iron",
        popupTemplate: function (geography, data) {
          return (
            '<div class="hoverinfo"><strong>' +
            geography.properties.name +
            "</strong><br>" +
            " Projects: " +
            data.projects +
            " + " +
            "<br>" +
            "<strong> " +
            data.locationInfo +
            " </strong>"
          );
        },
        highlightOnHover: true,
        highlightBorderWidth: 3,
        highlightFillColor: "gray",
      },

      fills: {
        office: "#2b3275",
        defaultFill: "#bdbcbb",
      },
      data: {
        AZ: {
          fillKey: "office",
          projects: 1943,
          locationInfo: "Office branch in progress",
        },
        CO: {
          fillKey: "",
          projects: 29,
          locationInfo: "",
        },
        DE: {
          fillKey: "",
          projects: 19,
          locationInfo: "",
        },
        FL: {
          fillKey: "",
          projects: 781,
          locationInfo: "",
        },
        GA: {
          fillKey: "",
          projects: 5,
          locationInfo: "",
        },
        HI: {
          fillKey: "",
          projects: 7,
          locationInfo: "",
        },
        ID: {
          fillKey: "office",
          projects: 32,
          locationInfo: "920 N Spokane St, Post Falls",
        },
        IL: {
          fillKey: "",
          projects: 781,
          locationInfo: "",
        },
        IN: {
          fillKey: "",
          projects: 31,
          locationInfo: "",
        },
        IA: {
          fillKey: "",
          projects: 33,
          locationInfo: "",
        },
        KS: {
          fillKey: "",
          projects: 41,
          locationInfo: "",
        },
        KY: {
          fillKey: "",
          projects: 50,
          locationInfo: "",
        },
        LA: {
          fillKey: "",
          projects: 32,
          locationInfo: "",
        },
        MD: {
          fillKey: "",
          projects: 35,
          locationInfo: "",
        },
        ME: {
          fillKey: "",
          projects: 50,
          locationInfo: "",
        },
        MA: {
          fillKey: "",
          projects: 38,
          locationInfo: "",
        },
        MN: {
          fillKey: "",
          projects: 15,
          locationInfo: "",
        },
        MI: {
          fillKey: "",
          projects: 11,
          locationInfo: "",
        },
        MS: {
          fillKey: "",
          projects: 24,
          locationInfo: "",
        },
        MO: {
          fillKey: "",
          projects: 28,
          locationInfo: "",
        },
        MT: {
          fillKey: "",
          projects: 27,
          locationInfo: "",
        },
        NC: {
          fillKey: "",
          projects: 20,
          locationInfo: "",
        },
        NE: {
          fillKey: "",
          projects: 34,
          locationInfo: "",
        },
        NV: {
          fillKey: "office",
          projects: 1593,
          locationInfo: "625 Spice Islands Dr, Sparks",
        },
        NH: {
          fillKey: "",
          projects: 14,
          locationInfo: "",
        },
        NJ: {
          fillKey: "",
          projects: 199,
          locationInfo: "",
        },
        NY: {
          fillKey: "",
          projects: 2026,
          locationInfo: "",
        },
        ND: {
          fillKey: "",
          projects: 10,
          locationInfo: "",
        },
        NM: {
          fillKey: "",
          projects: 37,
          locationInfo: "",
        },
        OH: {
          fillKey: "",
          projects: 806,
          locationInfo: "",
        },
        OK: {
          fillKey: "",
          projects: 23,
          locationInfo: "",
        },
        OR: {
          fillKey: "",
          projects: 16,
          locationInfo: "",
        },
        PA: {
          fillKey: "",
          projects: 12,
          locationInfo: "",
        },
        RI: {
          fillKey: "",
          projects: 13,
          locationInfo: "",
        },
        SC: {
          fillKey: "",
          projects: 8,
          locationInfo: "",
        },
        SD: {
          fillKey: "",
          projects: 4,
          locationInfo: "",
        },
        TN: {
          fillKey: "",
          projects: 9,
          locationInfo: "",
        },
        TX: {
          fillKey: "office",
          projects: 1325,
          locationInfo: "720 Bastrop Hwy, Austin",
        },
        UT: {
          fillKey: "",
          projects: 30,
          locationInfo: "",
        },
        WI: {
          fillKey: "",
          projects: 17,
          locationInfo: "",
        },
        VA: {
          fillKey: "",
          projects: 54,
          locationInfo: "",
        },
        VT: {
          fillKey: "",
          projects: 36,
          locationInfo: "",
        },
        WA: {
          fillKey: "",
          projects: 25,
          locationInfo: "",
        },
        WV: {
          fillKey: "",
          projects: 6,
          locationInfo: "",
        },
        WY: {
          fillKey: "",
          projects: 22,
          locationInfo: "",
        },
        CA: {
          fillKey: "office",
          projects: 2276,
          locationInfo: "398 Martin Ave, Santa Clara<br>1251 Pomona Rd, Corona",
        },
        CT: {
          fillKey: "",
          projects: 26,
          locationInfo: "",
        },
        AK: {
          fillKey: "",
          projects: 15,
          locationInfo: "",
        },
        AR: {
          fillKey: "",
          projects: 26,
          locationInfo: "",
        },
        AL: {
          fillKey: "",
          projects: 21,
          locationInfo: "",
        },
      },
    });
  }
</script>

<style>
  #locations {
    font-family: "Roboto Mono", ui-monospace;
  }
</style>
