---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Veritas | Contact"
  seoTitle="Veritas | Contact"
  seoDescription="Address, email, phone number and request form for Veritas"
>
  <div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
      <h2 class="mb-12 text-3xl font-bold">
        Meet the <strong class="text-primary dark:text-primary-400">team</strong
        >
      </h2>

      <div class="lg:gap-xl-12 grid gap-x-6 grid-cols-2 xl:grid-cols-4">
        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />

          <p class="mb-2 font-bold">John Doe</p>
          <p class="text-neutral-500 dark:text-neutral-300">Co-founder</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/5.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />

          <p class="mb-2 font-bold">Lisa Ferrol</p>
          <p class="text-neutral-500 dark:text-neutral-300">Web designer</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/6.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Maria Smith</p>
          <p class="text-neutral-500 dark:text-neutral-300">
            Senior consultant
          </p>
        </div>
        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/7.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Agatha Bevos</p>
          <p class="text-neutral-500 dark:text-neutral-300">Co-founder</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/8.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Darren Randolph</p>
          <p class="text-neutral-500 dark:text-neutral-300">Marketing expert</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/9.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Soraya Letto</p>
          <p class="text-neutral-500 dark:text-neutral-300">SEO expert</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/10.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Maliha Welch</p>
          <p class="text-neutral-500 dark:text-neutral-300">Web designer</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/11.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Zeynep Dudley</p>
          <p class="text-neutral-500 dark:text-neutral-300">Web developer</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/12.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Avaya Hills</p>
          <p class="text-neutral-500 dark:text-neutral-300">Copywritter</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/13.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Thierry Fischer</p>
          <p class="text-neutral-500 dark:text-neutral-300">
            Senior consultant
          </p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/14.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Aisling Sheldon</p>
          <p class="text-neutral-500 dark:text-neutral-300">Senior developer</p>
        </div>

        <div class="mb-12">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/15.jpg"
            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20"
            alt=""
            style="max-width: 100px"
          />
          <p class="mb-2 font-bold">Ayat Black</p>
          <p class="text-neutral-500 dark:text-neutral-300">Web designer</p>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <div class="overflow-x-auto my-7">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Favorite Color</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr class="hover">
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Blue</td>
        </tr>
        <!-- row 2 -->
        <tr class="hover">
          <th>2</th>
          <td>Hart Hagerty</td>
          <td>Desktop Support Technician</td>
          <td>Purple</td>
        </tr>
        <!-- row 3 -->
        <tr class="hover">
          <th>3</th>
          <td>Brice Swyre</td>
          <td>Tax Accountant</td>
          <td>Red</td>
        </tr>
      </tbody>
    </table>
  </div>
  <section class="text-primary-content body-font relative">
    <div class="hidden lg:block absolute inset-0 bg-neutral">
      <iframe
        class="h-full w-full border-0"
        loading="lazy"
        allowfullscreen
        title="map"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO2XQGpvNj4ARgjZUfpbCWv4&key=AIzaSyBCEfQ6JZJgM4W01L9XGXzErfLigAD0vqQ"
      ></iframe>
    </div>
    <div class="container px-5 py-24 mx-auto !flex">
      <div
        class="lg:w-1/3 rounded-lg p-8 flex flex-col lg:ml-auto w-full bg-base-200 mt-10 lg:mt-0 relative z-10 shadow-md !h-fit"
      >
        <script
          type="text/javascript"
          src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
          style="border:none;width:100%"
          id="form-contact-us-yvm0ss"
          src="https://opnform.com/forms/contact-us-yvm0ss"></iframe>
        <script type="text/javascript">
          document.addEventListener("astro:page-load", () => {
            iFrameResize();
          });
          iFrameResize(
            { log: false, checkOrigin: false },
            "#form-contact-us-yvm0ss"
          );
        </script>
      </div>
    </div>
  </section>
</MainLayout>
