---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import consultationcover from "../assets/featured/consultation.jpg";
import Consultationcarousel from "../components/consultationcarousel.astro";
---

<MainLayout>
  <div class="container py-8 lg:py-24 mx-auto md:px-6">
    <section class="lg:mb-32">
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div
          class="flex flex-col-reverse gap-2 lg:grid items-center lg:grid-cols-2"
        >
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] bg-base-200 shadow-black/20 md:px-12 lg:-mr-14"
            >
              <div transition:name="consultationdesc">
                <h2 class="mb-3 text-3xl font-bold">Consultation</h2>
                <p>Consultation, design and project management</p>
              </div>
              <p class="mb-8 pb-2 text-neutral-300 lg:pb-0">
                <ul>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Consultation</strong
                    > - Find the results needed from a world of options
                  </li>
                  <li>
                    <strong class="font-semibold text-accent">Design</strong> - Create
                    a modern and cost-effective solution to your project
                  </li>
                  <li>
                    <strong class="font-semibold text-accent"
                      >Project Management</strong
                    > - Finish your projects within timelines using a structured
                    methodology
                  </li>
                </ul>
              </p>
            </div>
          </div>

          <div>
            <Image
              class="w-full rounded-lg shadow-lg shadow-black/20"
              src={consultationcover}
              loading="eager"
              widths={[240, 540, 720, consultationcover.width]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${consultationcover.width}px`}
              transition:name="consultationcover"
              alt="Veritas consultation in action"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <Consultationcarousel />
</MainLayout>
