---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div>
    <section>
      <div class="mx-auto max-w-screen-xl px-4">
        <div
          class="cursor-default text-4xl text-center my-5"
          id="typed-strings"
        >
          <p>Veritas Partners</p>
        </div>
        <div class="cursor-default text-4xl text-center my-5 min-h-10">
          <span id="typed"></span>
        </div>
        <div
          class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
        >
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-[70px] text-primary-content hover:text-secondary"
              role="img"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Cisco</title><path
                d="M16.331 18.171V17.06l-.022.01c-.25.121-.522.19-.801.203a1.186 1.186 0 01-.806-.237 1.038 1.038 0 01-.352-.498 1.21 1.21 0 01-.023-.667c.052-.225.178-.426.357-.569.16-.134.355-.218.562-.242a1.85 1.85 0 011.061.198l.024.013v-1.117l-.051-.014a2.862 2.862 0 00-1.011-.132 2.34 2.34 0 00-.903.206c-.287.132-.54.327-.739.571a2.221 2.221 0 00-.04 2.705c.295.378.709.645 1.175.756.491.12 1.006.102 1.487-.052l.082-.023M5.336 18.171V17.06l-.022.01c-.25.121-.522.19-.801.203a1.183 1.183 0 01-.806-.237 1.03 1.03 0 01-.351-.498 1.202 1.202 0 01-.024-.667c.052-.225.177-.426.357-.569.16-.134.355-.218.562-.242a1.85 1.85 0 011.061.198l.024.013v-1.117l-.051-.014a2.862 2.862 0 00-1.011-.132 2.344 2.344 0 00-.903.206 2.08 2.08 0 00-.74.571 2.224 2.224 0 00-.041 2.705 2.11 2.11 0 001.176.756c.491.12 1.005.102 1.487-.052l.083-.023M9.26 17.249l-.004.957.07.012c.22.041.441.069.664.085.195.019.391.022.587.012.187-.014.372-.049.551-.104.21-.06.405-.163.571-.305a1.16 1.16 0 00.333-.478 1.31 1.31 0 00-.007-.96 1.068 1.068 0 00-.298-.414 1.261 1.261 0 00-.438-.255l-.722-.268a.388.388 0 01-.197-.188.245.245 0 01.008-.219.382.382 0 01.154-.142.798.798 0 01.257-.074c.153-.022.308-.021.46.005.18.02.358.051.533.096l.038.008v-.883l-.069-.015a4.749 4.749 0 00-.543-.097 2.844 2.844 0 00-.714-.003c-.3.027-.585.143-.821.33-.16.126-.281.293-.351.484-.104.29-.105.608 0 .899.054.145.14.274.252.381.097.093.207.173.327.236.157.084.324.149.497.195.057.017.114.035.17.054l.085.031.024.01c.084.03.162.078.226.14.045.042.08.094.101.151a.325.325 0 01.001.161.339.339 0 01-.166.198.856.856 0 01-.275.086 2.032 2.032 0 01-.427.021 5.208 5.208 0 01-.557-.074 9.195 9.195 0 01-.287-.067l-.033-.006zm-2.475.995h1.05v-4.167h-1.05v4.167zm12.162-2.936a1.095 1.095 0 011.541.158 1.094 1.094 0 01-.157 1.541l-.017.014a1.096 1.096 0 01-1.367-1.713m-1.525.854a2.193 2.193 0 002.666 2.107 2.139 2.139 0 00.701-3.937 2.207 2.207 0 00-3.367 1.83M22.961 10.728a.52.52 0 001.039 0V9.573a.52.52 0 00-1.039 0v1.155M20.117 10.728a.522.522 0 001.041 0V8.139a.521.521 0 00-1.04 0v2.589M17.231 11.771a.521.521 0 001.039 0V6.17a.52.52 0 00-1.039 0v5.601M14.393 10.728a.521.521 0 001.04 0V8.139a.52.52 0 00-1.039 0v2.589M11.494 10.728a.522.522 0 001.039 0V9.573a.52.52 0 00-1.039 0v1.155M8.624 10.728a.52.52 0 001.039 0V8.139a.52.52 0 00-1.039 0v2.589M5.737 11.771a.52.52 0 001.039 0V6.17a.52.52 0 00-1.039 0v5.601M2.876 10.728a.522.522 0 001.04 0V8.139a.52.52 0 00-1.039 0v2.589M0 10.728a.521.521 0 001.039 0V9.573a.52.52 0 00-1.039 0v1.155"
                fill="currentColor"></path>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-[130px] text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 652 652"
            >
              <g>
                <g>
                  <path
                    d="M200.9,383.8l-3.6,2.9l-4-5.6l-7-9.8l-4-5.6c0.9-1,2.2-2,3.4-2.9l0.6,0.7l7,7.9l7.6,8.5l2,2.3L200.9,383.8z
			 M186.3,393.8l-3.7,1.9l-0.9-2.3l-7.6-18.6l-0.8-2.1l-0.2-0.5v-0.8c0.1-0.1,0.1-0.1,0.2-0.1c0.3-0.1,0.5-0.3,0.8-0.5
			c1-0.5,2-1.1,2.9-1.6l4.7,9.2l4.6,8.9l2.6,5.1L186.3,393.8z M173.3,399.5l-4.1,1.2l-2.3,0.7l-4.3-26.2c1.2-0.5,2.7-0.7,4.4-1.2
			l2.1,8.3l4.1,16.3l0.2,0.8L173.3,399.5z M154.2,403.7c-1.2,0.1-2.4,0.2-3.6,0.3l1.4-27.4h2.1h2.1l1.2,26.6
			C156.4,403.4,155.3,403.5,154.2,403.7 M141.1,403.8v0.2c-1.6-0.1-3.3-0.3-4.9-0.5c-0.4-0.1-0.8-0.1-1.2-0.1
			c-0.1,0-0.3-0.1-0.4-0.1l0.4-1.7l1.2-4.5l4.9-18.7l0.5-1.9h3.6c0.3,0.2,0.3,0.5,0.3,0.7L141.1,403.8z M128.6,392.6l-3.1,8.3
			c-1.2-0.3-2.2-0.7-3.2-1c-1.1-0.3-2-0.7-3.1-1l3.1-6.3l6.4-13l3.1-6.4l3.2,1l0.5,0.2l-0.5,1.2L128.6,392.6z M118,383.8l-7,11
			c-0.7-0.3-1.4-0.7-2.2-1.1c-1.1-0.6-2.2-1.2-3.2-1.8l3.2-4.3l9.2-12.1l4.2-5.7l0.8-1c1,0.5,2.2,1.2,3.2,2l-4,6.3L118,383.8z
			 M100.4,384.1l-1.6,1.7c-1.5-1.2-2.9-2.7-4.5-4.2l6.1-5.6l8.5-7.9l6.6-6.1c0.9,0.7,1.7,1.4,2.5,2.3c0.1,0.1,0.3,0.3,0.4,0.4
			l-0.4,0.4l-9.2,9.8L100.4,384.1z M93.2,371.1l-4.2,3.1c-1.3-1.5-2.5-3.4-3.4-5.2l7.6-4.6l7.2-4.5l4.2-2.6l4.2-2.6l1-0.6
			c1,0.3,1.4,2,2.3,3l-0.2,0.2l-3,2.1l-8.5,6.4L93.2,371.1z M83.1,360.1l-1.2,0.5c-0.3-0.8-0.5-1.7-1-2.7c0.2-0.1,8.9-4.3,12.3-6.3
			c1.8-1.1,3.7-2.4,5.5-4c0.5-0.4,1.1-0.7,1.7-1c1.8-0.8,4-1.2,5.9-1.8c0.5,1.2,1,2.7,1.3,4l-7.2,3.3l-7.2,3.4l-4,1.9L83.1,360.1z
			 M57.5,367.4c-0.5-0.3-1.2-0.5-2-0.8l27.5-13h2.3L57.5,367.4z M49.3,363.1l-1.1,0.5c-0.8-0.5-1.8-1.4-2.3-2l3.3-1.5l6.1-2.7
			l15.3-6.8l0.4-0.1l3.2-1.4l0.4-0.2c0.9,0.7,1.7,1.2,2.1,1.8l-2.5,1.2l-3.2,1.4l-0.4,0.2l-8.8,4L49.3,363.1z M38.9,356.5
			c-0.5-1-1.2-2.2-1.7-3.2l12.1-4.3l20.6-7.2c0.3,0.3,0.5,0.6,0.8,1c0.1,0.2,0.3,0.4,0.4,0.6c0.1,0.1,0.2,0.3,0.3,0.5l-0.3,0.1
			l-0.4,0.1l-21.4,8.3L38.9,356.5z M32.5,344.9c-0.6-1-1-2-1.3-3l18-3.8l17.6-3.8c0.3,0.7,0.5,1.5,0.8,2.3l-18.3,4.3L32.5,344.9z
			 M28,333.1v-4.4l21.2-0.8l16.1-0.6c-0.1,0.8-0.1,1.7,0,2.5l-16.1,1.4L28,333.1z M28,314.7l21.2,1.8l15.9,1.3
			c0.1,2.3-0.1,2.4,0,2.7l-15.9-0.7L28,318.9V314.7z M32.5,302.6l16.7,4.2l18.3,4.6c-0.3,0.5-0.5,1.3-1,2l-17.4-3.8l-18.2-4
			C31.5,304.5,32,303.6,32.5,302.6 M38.7,291.3l10.6,4.2l21.4,8.3l0.4,0.1h0.1c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.2-0.3,0.5-0.4,0.8
			c-0.1,0.3-0.3,0.7-0.5,1.1l-20.9-7.2L37,294.5C37.5,293.4,38.1,292.3,38.7,291.3 M48.1,284.4l1.2,0.6l21.4,9.6l0.4,0.2l3.2,1.4
			l3.3,1.5c-0.7,0.6-1.8,1.3-2.4,1.6l-0.9-0.4l-3.2-1.4l-0.4-0.1L49.3,288l-3.6-1.6C46.4,285.6,47.4,284.8,48.1,284.4 M57.5,280.4
			l13.1,6.6l0.4,0.2l3.2,1.6l8.8,4.4l2.5,1.3c-0.5,0.1-1.2,0.1-1.8,0.3l-0.6-0.3l-8.8-4.2l-3.2-1.6l-0.4-0.2l-14.9-7.2
			C56.3,280.9,57.1,280.7,57.5,280.4 M93.2,301.7c3.5,3,5.9,7.9,7.2,11.9c0.6,2,1,3.7,1,4.9c0.3,4.2,0.3,6.6,0,10.6
			c-0.1,1.2-0.4,3-1,5c-1.3,4.1-3.8,9.2-7.2,12.3c-1.8,1.6-4,2.7-6.4,2.7c-0.4,0-2.1-0.1-3.6-0.6c-0.5-0.1-1-0.3-1.4-0.5
			c-3.1-1.5-5.9-5.2-7.4-8.3c-0.2-0.3-0.3-0.6-0.5-0.9c-1.2-2.9-2.4-8.5-2.7-12.7c-0.1-0.7-0.1-1.6-0.1-2.3c0-0.1,0.1-0.6,0.1-1.2
			c0.2-2.1,0.7-6.5,1.3-9.2c0.3-1.6,1-3.4,1.9-5.2c1.4-2.8,3.6-5.7,6.4-7.6c0.6-0.5,1.4-0.8,2.4-1.2c1.2-0.4,2.6-0.6,3.4-0.6
			C89.1,299.1,91.3,300.1,93.2,301.7 M89.2,291.7l4,2l7.2,3.7l8.5,4.4l3.4,1.7c-0.5,1.3-1.2,2.7-2.2,4.2c-0.4-0.1-0.8-0.3-1.2-0.4
			c-2.3-0.9-4.8-1.8-7.1-3c-0.5-0.3-0.7-1.2-1.1-1.6c-0.1-0.1-0.2-0.2-0.3-0.3c-1.6-2.1-3.6-4-5.7-5.5c-0.5-0.3-1-0.6-1.5-0.9
			c-1.4-0.8-3.1-1.5-4.7-2.3C88.4,293.2,88.9,292.5,89.2,291.7 M95.1,283.5l4.6-5.5l0.7,0.6l8.5,7.5l9.2,8l0.9,0.8
			c-0.3,0.5-0.6,1-0.9,1.4c-0.5,0.8-1.2,1.5-1.8,2.3l-7.4-5.2l-8.5-6.1L95.1,283.5z M108.9,269.3l3.6-2.8l5.6,7.8l4.2,5.9l5.1,7.2
			c-1.2,1-2.4,1.7-3.7,2.7l-1.4-1.6l-4.2-4.9l-9.2-10.5l-2-2.3L108.9,269.3z M122.3,260c1.4-0.8,3-1.6,4.6-2.3l1.8,4.2l6.4,15.2
			l1.2,2.9l0.5,1.2c-0.1,0.1-0.3,0.3-0.5,0.4c-0.4,0.3-0.8,0.6-1.2,0.8c-0.6,0.4-1.4,0.8-2,1.2l-4.4-8l-6.4-11.7l-1.6-3.1
			C121.1,260.6,121.7,260.3,122.3,260 M136.2,253.4l4.9-1.6l1.1-0.4l4.3,24.9v1.5c-1.2,0.3-2.7,0.7-3.9,1.2l-1.5-5.6l-4.9-18
			l-0.5-1.8L136.2,253.4z M154.2,249c1.2-0.1,2.6-0.3,4.4-0.4l-1.4,27.4c-0.9-0.1-1.9-0.1-3-0.1c-0.3,0-0.7,0.1-1.2,0.1l-1.2-26.7
			C152.5,249.2,153.3,249,154.2,249 M168.1,248.3c0.4,0.1,0.7,0.1,1.1,0.1c1.4,0.1,2.7,0.3,4.1,0.5c0.3,0,0.5,0.1,0.8,0.1
			c0.2,0.1,0.4,0.1,0.6,0.1l-0.6,2.2l-0.8,3.2l-4.1,15.4l-1.6,5.9c-2.5-0.1-3.1-0.1-4,0L168.1,248.3z M181.7,256.6l2.3-5.7l2.3,0.8
			l3.6,1.2l-3.6,7.3l-4.6,9.6l-4.2,8.7c-1.1-0.4-2.3-0.8-3.3-1.3c-0.2-0.1-0.4-0.1-0.5-0.2l0.5-1.4L181.7,256.6z M193.3,264.5
			l4.9-7.7c0.9,0.5,1.8,1,2.7,1.5c0.9,0.5,1.9,1.1,2.9,1.6l-2.9,4l-7.6,10.1l-6.9,9.2c-0.1,0-0.1,0-0.1-0.1
			c-1.2-0.7-2.3-1.4-3.6-2.1l3.6-5.6L193.3,264.5z M211,265.5l0.2,0.2l4.2,4.2l-4.2,3.7l-10.4,9.6l-6.8,6.3l-0.7-0.7l-2-2l2-2.2
			l7.6-8.2L211,265.5z M220.9,277c1.2,1.7,2.5,3.6,3.6,5.6l-13.3,8.1l-10.4,6.4l-0.8,0.5c-0.5-0.8-1.5-1.9-2.2-3.2l3-2.3l10.4-7.8
			L220.9,277z M211.2,356.7c-1-0.5-1.9-0.9-2.9-1.3c-0.5,0.5-0.8,1.2-1.2,2c-1.1,2.4-2.1,5.3-5,4.2c2.7,2.2,6.2,4.7,9.1,7.2
			c1,0.9,2,1.8,2.7,2.6c-1,1.1-1.9,2.2-2.7,3.3c-0.6,0.8-1.1,1.5-1.6,2.2l-8.7-8.2l-7.2-6.9h-0.3h-7H184c-0.8,0.8-1.6,1.5-2.2,2.2
			c-0.7,0.7-1.4,1.4-2,1.8c-1.6,1.1-3.5,2.1-5.6,3.1c-0.3,0.1-0.5,0.3-0.8,0.4c-1.4,0.6-2.7,1.2-4.1,1.8c-2.9,1.2-5.8,2.1-8.6,2.9
			c-1.6,0.4-4.2,0.8-6.4,1c-1.9,0.1-3.6,0.3-3.8,0.3c-0.5,0-5.9-0.3-9.2-0.9c-0.3-0.1-0.5-0.1-0.8-0.1c-1.4-0.3-2.8-0.7-4.2-1.2
			c-0.4-0.1-0.8-0.2-1.2-0.3c-1.4-0.5-2.8-1-4.1-1.4c-0.7-0.3-1.4-0.6-2.3-1c-2.1-1-4.2-2.5-6.4-4.3c-1.5-1.2-2.9-2.5-4.2-3.9
			c-1.5-1.5-2.8-3.1-3.8-4.7c-0.6-1-1.2-1.9-1.5-2.8c-0.6-1.2-1.6-2.3-2.3-3.6c-0.5-1.2-1.1-2.5-1.6-3.8c-0.6-1.6-1.1-3.3-1.5-4.9
			c-0.6-2.5-0.4-5.1-0.6-7.8c0-0.7-0.6-1.3-0.6-1.8c0-0.6,0.6-8.1,1.5-12.1c0.3-1.4,0.8-2.9,1.2-4.4c0.6-1.9,1.4-3.8,2-5.7
			c0.9-2.3,2.6-4.5,3.9-6.6c0.6-0.9,0.8-2,1.3-2.5c0.6-0.7,1.3-1.5,1.9-2.2c1.4-1.6,2.7-3.3,4.2-4.9c0.6-0.6,1.2-1.2,1.8-1.8
			c1.4-1.4,3.1-2.4,4.6-3.5c0.3-0.2,0.6-0.4,0.9-0.7c1-0.8,1.8-1.7,2.8-2.2c0.9-0.5,1.8-1,2.7-1.5c0.4-0.2,0.8-0.4,1.2-0.6
			c1.6-0.9,3.2-1.8,4.9-2.5c0.1-0.1,0.3-0.1,0.5-0.1c3.1-1.2,6.7-2.3,10.1-3.1c0.7-0.1,1.6-0.3,2.5-0.4c3.1-0.3,6.9-0.3,7.4-0.3
			c0.6,0,4.5,0.2,7.7,0.6c0.7,0.1,1.4,0.3,2,0.4c0.7,0.1,1.4,0.3,2,0.5c0.3,0.1,0.5,0.1,0.8,0.2c2.2,0.6,4.4,1.4,6.3,2.6
			c0.4,0.2,0.9,0.5,1.3,0.8c1.4,0.9,3,1.8,4.6,2.9c2.4,1.6,4.9,3.6,7,5.9c0.7,0.8,1.5,1.6,2.2,2.6c2.1,2.7,3.8,5.7,5.4,8.7
			c0.1,0.3,0.3,0.7,0.5,1c1.4,2.9,2.3,6.4,3.7,9.6c3.5,0.8,4.7-2.9,6.2-6c0.5-1.1,1.1-2.1,1.8-2.9l-1.8,0.8l-6.6,2.5
			c-0.4-1.1-0.9-2.5-1.4-3.6l7.9-3.7l18.1-8.7c0.9,1.6,1.4,3.2,2.1,4.9h1.8c-0.3-1.2-2.5-7.5-3.4-7.5c-0.6,0-3,1.8-4.4,1.9l1.2-7.7
			c-0.5-1.2-1.5-2.7-2.3-4.1c-0.3-0.6-2.2-4.1-3.1-4.1c-0.6,0-2.3,1.6-3.2,2.1v-4c-0.3-1.2,0.1-2.5-0.5-3.3
			c-1.4-2.1-5.1-5.5-6.4-6.2c-0.1-0.1-0.3-0.1-0.3-0.1c-0.6,0-2.1,1.9-2.9,2.7c-0.6-2.2-0.5-5-1.9-6.8c-1.1-1.4-3.4-2.7-5.2-3.7
			c-1.4-0.7-2.5-1.1-2.7-1.1c-1,0-2.2,2.7-2.7,3.3c-0.8-1.4-1.3-3.1-2.2-4.5c-0.4-0.7-1-1.4-1.6-1.8c-1.3-1-3.5-1.7-5.4-2.1
			c-1.4-0.3-2.5-0.6-2.7-0.6c-0.8,0-1.4,1.2-1.9,2.2c-0.3,0.8-0.5,1.4-0.5,1.6c-1.6-1.6-2.7-4.3-4.9-5.1c-0.7-0.3-1.4-0.4-2.2-0.6
			c-0.3-0.1-0.5-0.1-0.8-0.1c-1.4-0.1-2.7-0.1-4.1-0.2c-0.7,0-1.5-0.1-2.3-0.1c-0.5,1.5-0.7,2.9-1.2,4.3c-2.1-1.4-5.8-4.3-6.4-4.3
			c-0.4,0-2.8,0.4-5.2,0.6c-1.4,0.1-2.7,0.3-3.8,0.4c-0.3,0.2-0.5,0.5-0.5,0.5c-0.1,1.4-0.1,2.9,0,4L143,249
			c-0.4,0.2-1.1,0.4-1.9,0.7c-1.5,0.5-3.4,1.1-4.9,1.7c-0.5,0.1-0.8,0.3-1.2,0.5c-0.8,0.4-1.4,0.7-1.4,1c0,0.5,0.7,2.3,1,3.1
			c-0.2,0.2-1.1,0.1-1.1,0.1c-1.3-0.3-3.5-0.6-4.8-0.8c-0.5,0-0.9-0.1-1.1-0.1c-0.6,0-0.5,0-0.8,0.1c-1.4,0.9-3,1.7-4.5,2.5
			c-2.2,1.1-4,2-4,2.7c0,0.6,1,2.3,1.6,3.1c-0.5,0.1-1,0.1-1.8,0.1c-0.7,0-1.6,0.1-3,0.3c-1,0.1-2.1-0.1-2.9,0.3
			c-0.9,0.5-2.1,1.4-3.3,2.3c-2.3,1.8-4.4,3.8-4.4,4.2c0,0.5,1.6,2,2.3,2.9c-2.1,0.7-4.4,0.6-6.4,1.4c-0.5,0.1-0.9,0.4-1.3,0.7
			c-2.1,1.5-4.8,5.1-5.9,7c-0.3,0.5-0.5,0.9-0.5,1c0,0.2,0.2,0.5,0.5,0.8c0.6,0.6,1.7,1.5,2.4,1.9c-0.7,0.5-1.6,0.9-2.4,1.2
			c-2.7,1-5.6,1.6-6.6,5.1l-3.5-1.8l-8.8-4.4l-3.2-1.6l-0.4-0.2l-13.2-6.5c-1.6,0.7-3.5,1.2-4.7,2c-1.2,0.7-1.4,2.3-2.1,3.1
			c-0.3-0.2-0.9-0.5-1.4-0.7c-0.5-0.3-0.9-0.4-1.2-0.4c-0.6,0-4,2.2-5.1,3.8c-0.9,1.2-0.8,2.9-1.2,4.2h-0.6
			c-0.9-0.5-2.1-1.2-2.7-1.2c-1.2,0-3.4,5-3.5,5.3c-0.3,2.1-0.7,4.3-1.4,6.3c-0.6,0-1.4-0.3-1.8-0.2c-0.8,0.8-2.7,4.1-2.7,6.1
			c0,0.6,0.5,4.6,0.5,5.3c0,0.5,0.1,0.8-0.1,1c-0.9-0.2-2.1-0.2-3.1,0.1v7.3c0,0.5,1.2,2.7,1.2,3.3c0,0.6-1.2,2.9-1.2,3.4v7.4
			c0.5,0.5,1,0.5,1.6,0.5c0.6,0,1.2-0.3,1.7-0.1c-0.3,2.8-0.5,5.1-0.5,5.7c0,1.6,2,5.1,2.6,6.4c0.8,0.1,1.5-0.1,1.9-0.2
			c0.7,2.1,1.1,4.2,1.4,6.4c0,0.2,1.3,2.7,2.4,4.2h0c0.5,0.6,1,1,1.3,1c0.6,0,2.2-0.7,3.1-0.9c0.4,1.3,0.8,2.7,1.2,4.1
			c0.2,0.7,4.2,3.9,5.3,3.9c0.3,0,0.7-0.1,1.1-0.3c0.6-0.2,1.4-0.6,1.9-0.9c0.1,3.3,4.2,4.2,6.4,5.1l13.1-6.4l0.4-0.2l3.2-1.6
			l4.8-2.3c0.4,1.1,0.4,2.6,1.2,3.5c0.8,0.9,1.8,1.5,2.9,2.1c1.2,0.7,2.5,1.2,3.4,1.9c-0.3,0.1-3.3,1.4-3.3,2.3c0,0.6,2.4,6.1,4.7,8
			c1.4,1.2,3.4,1.4,5.2,1.7c0.6,0.1,1.2,0.2,1.6,0.3c-0.4,0.4-1.1,1-1.6,1.5c-0.6,0.5-1.2,1.2-1.2,1.4c0,0.2,0.5,0.9,1.2,1.7
			c1.3,1.6,3.4,3.8,5.1,4.8c0.6,0.4,1.4,0.3,2.2,0.3h0.5c3,0.3,3.9,0.2,4.8,0.4c-0.7,0.8-2.3,2.5-2.3,3.1c0,0.6,3.1,2.5,5.5,3.9
			c1.4,0.7,2.5,1.2,2.7,1.2c0.6,0,5.6-0.9,6.4-1h0.1c0.6,0,0.4,0.2,0.4,0.2c-0.1,0.3-0.3,0.5-0.5,0.9c-0.5,0.8-0.9,1.8-0.9,2.1
			c0,0.6,0.3,0.8,0.5,1c0.1,0.1,0.3,0.1,0.4,0.2c1.2,0.5,2.8,1,4.2,1.6c1.9,0.7,3.6,1.2,3.8,1.2c0.3,0,1.3-0.3,2.5-0.8
			c1.4-0.6,3.1-1.2,4.2-1.6c0.5,1.3-0.5,2-0.5,2.9c0,0.6,0.3,0.8,0.6,1c0.6,0.1,1.3,0.1,2,0.2c0.4,0.1,0.8,0.1,1.2,0.1
			c1.9,0.3,4,0.5,4.9,0.6c0.3,0.1,0.5,0.1,0.6,0.1c1.7,0,6.1-3.4,7-3.8c0.6,2.2-1,3.8,1.4,3.8c0.3,0,2.1,0,4-0.2
			c1.7-0.1,3.4-0.4,4.7-0.9c2.3-0.9,4-3.5,5.8-5.1c0.3,0.9-0.1,3.8,1.8,3.8c0.3,0,1.4-0.2,2.8-0.6c1.2-0.3,2.8-0.8,4.1-1.2
			c0.3-0.1,0.5-0.3,0.8-0.4c0.4-0.1,0.7-0.4,1-0.6c2.3-1.5,3.6-4.2,4.9-5.9c0.3,0.4,0.6,2.4,1.7,2.9c0.1,0.1,0.3,0.1,0.6,0.1
			c0.3,0,2.1-0.6,4-1.6c1.6-0.8,3.2-1.9,4.2-2.8c1.3-1.4,2.1-3.3,2.8-4.9c0.4-0.8,0.7-1.6,1.2-2.2c0.6,0.9,1.9,2.8,2.5,2.8
			c0.3,0,2-1.1,3.9-2.5c1.6-1.2,3.3-2.7,4.2-4c1.3-1.8,1.1-4.3,1.4-6.3c0.9,0.8,2.6,2.5,3.2,2.5c0.2,0,0.7-0.5,1.5-1.2
			c1.8-1.8,4.5-5.3,5.1-6.6c0.3-1.1,0.1-2.4,0.3-3.6v-8.1c-1.3-0.7-2.7-1.4-4-2.1C212.2,357.1,211.7,356.9,211.2,356.7"
                  ></path>
                  <path
                    d="M136.6,326.5c0.7-4,2.3-8,4.5-11.6c3.1-4.9,7.6-8.9,13-10.3c1.4-0.4,2.9-0.5,4.5-0.5c4.7,0.1,8.3,2,10.5,5.3
			c1.2,1.7,1.9,3.8,2.4,6.2l1.7-0.7l0.8-0.3l7.6-3l4.6-1.8l3.7-1.4c-0.9-3.2-2.1-6.1-3.7-8.5c-1.3-2-2.8-3.8-4.6-5.3
			c-2.2-1.8-4.7-3.3-7.6-4.4c-0.3-0.1-0.5-0.1-0.8-0.3c-1.3-0.4-2.7-0.7-4.1-1c-2.2-0.4-4.4-0.6-6.9-0.6c-2.7,0-5.5,0.2-8.1,0.7
			c-4.6,0.7-9,2.2-13,4.4c-1.7,0.9-3.3,1.9-4.9,3.1c-0.4,0.3-0.8,0.6-1.2,0.8c-2.3,1.8-4.4,3.8-6.4,6.1c-2.5,2.9-4.6,6.1-6.4,9.6
			c-1.9,3.9-3.3,8.2-4.2,12.8c-0.1,0.2-0.1,0.5-0.1,0.7c-1.1,5.9-0.9,11.3,0.1,16.1c0.8,3.6,2.3,6.9,4.2,9.7c1.4,2,3,3.7,4.9,5.2
			c0.5,0.4,1,0.8,1.5,1.1c1.9,1.4,4,2.5,6.4,3.3c0.4,0.1,0.8,0.3,1.2,0.4c1.6,0.5,3.2,0.9,4.9,1.2c2.2,0.4,4.5,0.6,6.9,0.6
			c2.1,0,4.2-0.1,6.1-0.4c5.3-0.7,10.3-2.4,15-5.2c0.6-0.4,1.2-0.8,1.8-1.2v0c0.8-0.5,1.5-1,2.3-1.6c0.3-0.2,0.5-0.4,0.8-0.7
			c1.8-1.4,3.4-3,5.1-4.8c0.9-1.1,1.7-2.1,2.5-3.2c1.9-2.6,3.3-5.2,4.6-7.9c2.5-5.3,3.8-10.9,5-17.1h-5h-4.6l-7.6-0.1h-0.8h-4.1
			l-13.7-0.1l-1.4,7.5l-1.2,7.1h1.2l13.4,0.1c-1.8,7-7,11-13.4,12c-1,0.1-2.2,0.2-3.3,0.2c-4.2,0-7.4-1.4-9.8-3.7
			c-3-2.9-4.7-7.3-4.9-12.1c-0.1-1-0.1-2,0-3.1C136.3,328.8,136.4,327.6,136.6,326.5"
                  ></path>
                  <path
                    d="M91.3,314c0.7,0.7,1.4,1.6,1.8,2.3c1.6,2.6,2.1,5.3,2.1,7.7c0,2.3-0.5,5.1-2.1,7.8c-0.6,1-1.2,1.9-2.1,2.7
			c1.2-3.2,1.8-7.1,1.8-10.5C92.9,320.7,92.1,317.4,91.3,314 M74.3,322.8c-0.1,0.4-0.1,0.8-0.1,1.2c0,0.3,0,0.7,0.1,1.1
			c0.3,5,2.5,16,8.8,19.3c1.2,0.6,2.5,1,4,1c0.6,0,3.7-0.7,5-1.8c0.4-0.3,0.7-0.6,1.1-1c4.9-4.9,6.1-13.5,6.1-18.7
			c0-3.8-1.2-13.9-6.1-18.5c-1.6-1.5-3.6-2.5-6.1-2.5c-1.5,0-2.8,0.3-4,0.9C76.5,307,74.6,317.7,74.3,322.8"
                  ></path>
                </g>
                <path
                  d="M221.2,336.4l-6.3,0.1l6.3-12.1l3.4-6.3h0.1l2.9,18.3H221.2z M221.2,300.3l-1.6,0.1l-33.1,57.6l16.1-0.1
		l5.9-10l12.6-0.1h8.3l2,10l16.3-0.1l-11.6-57.5L221.2,300.3z"
                ></path>
                <polygon
                  points="279.8,298.9 264.4,300 253.8,357.5 287.7,355.2 290,342.5 271.6,343.7 	"
                ></polygon>
                <polygon
                  points="321.4,294.4 305.8,296.5 295.2,354.1 329.5,349.3 331.9,336.7 313.1,339.2 	"
                ></polygon>
                <path
                  d="M372.1,320l-6.6,1.3l6.6-13l3.3-6.6h0.2l3.1,17L372.1,320z M372.1,285.2l-1.9,0.3l-34,62.4l16.8-3.4l6-10.9
		l13.1-2.7l8.7-1.8l2.1,9.2l16.9-3.5l-12.4-52.9L372.1,285.2z"
                ></path>
                <g>
                  <path
                    d="M434.8,310.3l12.6-1.5c-1.9,6.8-7.6,10.7-14.3,11.5c-10.3,1.2-14.1-7.3-12.5-16.2c1.6-8.7,8.6-18.8,18.9-20
			c6.2-0.7,10.1,2.4,11.3,7.7l15.9-7.8c-3.2-10.1-11.7-14.3-24.1-12.8c-19.3,2.3-34.7,16.2-38.2,34.9c-3.3,18,7.6,28.8,26.4,26.6
			c10-1.2,19.4-5.7,26.8-14.3c6.6-7.9,8.5-15.1,10.3-23.5l-30.8,3.8L434.8,310.3z"
                  ></path>
                </g>
                <polygon
                  points="514.9,291.1 492.9,291.2 497,269 481.7,269.1 471.1,326.7 486.4,326.6 490.7,302.9 512.7,302.9 
		508.4,326.5 523.6,326.4 534.2,268.8 518.9,269 	"
                ></polygon>
                <polygon
                  points="575.2,287.5 577.5,274.9 545.2,269.6 534.7,327.1 567,332.4 569.3,319.8 551.8,316.9 553.6,306.9 
		570.2,309.6 572.5,297 555.9,294.3 557.6,284.6 	"
                ></polygon>
                <g>
                  <path
                    d="M603.6,307.6c-1.6,0-3.4-0.3-5.1-0.7l-1.4-0.4l2.7-14.3l1.4,0.3c0.8,0.2,1.6,0.5,2.5,0.8
			c3.9,1.4,7.3,3.9,6.4,9C609.2,306.4,606.6,307.6,603.6,307.6 M609.9,318.4c8.2,0.6,13.8-5.2,15.2-13.1c2.1-12.3-5.1-20-16.1-22.8
			l-5.5-1.4l-16.3-4.2l-10.6,57.5l14.5,3.8l4.1-22.1h0.1l8.1,21.6l1.6,4.1l18,4.7L609.9,318.4z"
                  ></path>
                  <path
                    d="M624.3,351.7c-0.9,1.8-2.2,4.6-2.7,5.5c-0.3-1-1.6-3.8-2.4-5.7l-1.8-0.1v7.3h1.2v-5.7c0.8,2.1,1.6,4,2.5,5.7
			l0.8,0.1c0.9-1.8,1.8-3.6,2.6-5.6v5.7h1.6v-7.2L624.3,351.7z"
                  ></path>
                </g>
                <polygon
                  points="610.1,352.2 612.5,352.3 612.5,358.6 614,358.6 614,352.3 616.3,352.4 616.3,351.5 610.1,351.2 	"
                ></polygon>
              </g>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 433 97"
              class="h-12 text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
            >
              <g>
                <g id="logotype">
                  <path
                    id="logotype-b-47"
                    d="M185.2,46.88a13.77,13.77,0,0,0,8.8-13c0-11.7-8.3-17.5-19.7-17.5H144.4V80h32.5c10,0,19.8-7,19.8-17.7C196.7,49.58,185.2,47,185.2,46.88ZM160,29.58h11.6a5.66,5.66,0,0,1,6,5.31q0,.34,0,.69a5.93,5.93,0,0,1-6,5.81H159.9Zm11.7,37.1H160.1V54.18h11.3c5.7,0,8.4,2.5,8.4,6.2C179.8,65,176.4,66.68,171.7,66.68Z"
                    fill="currentColor;fill-rule: evenodd"></path>
                  <path
                    id="logotype-o-47"
                    d="M231.1,14.78c-18.4,0-29.2,14.7-29.2,33.3s10.8,33.3,29.2,33.3,29.2-14.6,29.2-33.3S249.6,14.78,231.1,14.78Zm0,51.4c-9,0-13.5-8.1-13.5-18.1s4.5-18,13.5-18,13.6,8.1,13.6,18C244.7,58.18,240.1,66.18,231.1,66.18Z"
                    fill="currentColor;fill-rule: evenodd"></path>
                  <path
                    id="logotype-s-47"
                    d="M294.2,41.38l-2.2-.5c-5.4-1.1-9.7-2.5-9.7-6.4,0-4.2,4.1-5.9,7.7-5.9a17.86,17.86,0,0,1,13,5.9l9.9-9.8c-4.5-5.1-11.8-10-23.2-10-13.4,0-23.6,7.5-23.6,20,0,11.4,8.2,17,18.2,19.1l2.2.5c8.3,1.7,11.4,3,11.4,7,0,3.8-3.4,6.3-8.6,6.3-6.2,0-11.8-2.7-16.1-8.2l-10.1,10c5.6,6.7,12.7,11.9,26.4,11.9,11.9,0,24.6-6.8,24.6-20.7C314.3,46.08,303.3,43.28,294.2,41.38Z"
                    fill="currentColor;fill-rule: evenodd"></path>
                  <path
                    id="logotype-c-47"
                    d="M349.7,66.18c-7,0-14.3-5.8-14.3-18.5,0-11.3,6.8-17.6,13.9-17.6,5.6,0,8.9,2.6,11.5,7.1l12.8-8.5c-6.4-9.7-14-13.8-24.5-13.8-19.2,0-29.6,14.9-29.6,32.9,0,18.9,11.5,33.7,29.4,33.7,12.6,0,18.6-4.4,25.1-13.8L361.1,59C358.5,63.18,355.7,66.18,349.7,66.18Z"
                    fill="currentColor;fill-rule: evenodd"></path>
                  <polygon
                    id="logotype-h-47"
                    points="416.3 16.38 416.3 39.78 397 39.78 397 16.38 380.3 16.38 380.3 79.98 397 79.98 397 54.88 416.3 54.88 416.3 79.98 433 79.98 433 16.38 416.3 16.38"
                    fill="currentColor;fill-rule: evenodd"></polygon>
                </g>
                <g id="symbol">
                  <path
                    d="M48.2.18a48.2,48.2,0,1,0,48.2,48.2A48.2,48.2,0,0,0,48.2.18Zm0,91.9a43.7,43.7,0,1,1,43.7-43.7,43.71,43.71,0,0,1-43.7,43.7Z"
                  ></path>
                  <path
                    d="M68.1,18.28H64.8v16.5H31.7V18.28H28.3a36.06,36.06,0,0,0,0,60.2h3.4V62H64.8v16.5h3.3a36.05,36.05,0,0,0,0-60.2ZM27.1,72A31.59,31.59,0,0,1,24.47,27.4a32.51,32.51,0,0,1,2.63-2.62Zm37.7-14.6H31.7V39.28H64.8Zm4.5,14.5v-10h0V34.78h0v-10a31.65,31.65,0,0,1,2.39,44.71A33.68,33.68,0,0,1,69.3,71.88Z"
                  ></path>
                </g>
              </g>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              viewBox="0 0 200 72"
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
            >
              <path
                fill="currentColor"
                d="m83.6 12.2h9.9c0.1 0 0.1 0.1 0.1 0.1v42.7c0 0.1-0.1 0.1-0.1 0.1h-9.9c-0.1 0-0.1-0.1-0.1-0.1v-42.6c0-0.1 0.1-0.2 0.1-0.2z"
              ></path>
              <path
                fill="currentColor"
                d="m80.4 12.2c0.1 0 0.1 0.1 0.1 0.2l-13 21.1c-0.1 0.2-0.1 0.4 0 0.6l13 20.9c0.1 0.1 0 0.2 0 0.2h-12.2c-0.1 0-0.2-0.1-0.3-0.2l-7.9-12.9c-0.1-0.1-0.2-0.1-0.2 0l-7.4 12.9c-0.1 0.1-0.2 0.2-0.3 0.2h-11.5c-0.1 0-0.2 0-0.1-0.2l13.5-22c0.1-0.2 0.1-0.5 0-0.7l-11.8-19.9c0-0.1 0-0.2 0.1-0.2h11.8c0.1 0 0.2 0.1 0.2 0.2l7.1 12c0.1 0.1 0.2 0.1 0.3 0l7.3-12c0.1-0.1 0.1-0.2 0.3-0.2h11z"
              ></path>
              <polygon
                fill="currentColor"
                points="142.7 34.1 164.6 0 200 55.2 175.9 55.2 162.4 34.1"
              ></polygon>
              <path
                fill="currentColor"
                d="m37 12.2h-9.2c-0.1 0-0.2 0.1-0.3 0.2l-27.5 42.7v0.1h11.2c0.1 0 0.2 0 0.2-0.1l3.7-5.8c0.1-0.1 0.1-0.1 0.2-0.1h11.7c0.1 0 0.1 0.1 0.1 0.1v5.7c0 0.1 0 0.2 0.1 0.2h9.8c0.1 0 0.1-0.1 0.1-0.2v-42.6c0-0.1 0-0.2-0.1-0.2zm-9.7 28.5v0l-7.3 0.1s-0.1 0 0-0.1l7.7-12.3c0-0.1 0.1 0 0.1 0l-0.5 12.3z"
              ></path>
              <path
                fill="currentColor"
                d="m99.4 55.2h12.9c1.6 0 3.3-0.3 4.9-0.8 6-1.9 9.1-7.8 9.1-12.9 0-8.1-6.3-10.9-13.8-14.1-1.3-0.6-2.9-1.3-2.9-3.1s1.7-2.7 3.6-2.7h10.2c0.1 0 0.1-0.1 0.1-0.1v-9.3c0-0.1-0.1-0.1-0.1-0.1h-10.7c-8.9 0-14.2 5.3-14.2 12.7 0 6.5 4.1 9.6 10.1 12 4.2 1.7 6.9 2.4 6.9 5.8 0 1.8-1.1 3.5-3.3 3.5h-12.9c-0.1 0-0.1 0.1-0.1 0.1v9h0.2z"
              ></path>
              <path
                fill="currentColor"
                d="m131.9 12c-2 0-3.6 1.6-3.6 3.6s1.6 3.6 3.6 3.6 3.6-1.6 3.6-3.6-1.6-3.6-3.6-3.6zm0 6.8c-1.8 0-3.2-1.5-3.2-3.2 0-1.8 1.5-3.2 3.2-3.2 1.8 0 3.2 1.5 3.2 3.2s-1.4 3.2-3.2 3.2z"
              ></path>
              <path
                fill="currentColor"
                d="m133.6 17.6-0.8-1.9c0.5-0.1 0.8-0.6 0.8-1.1 0-0.4-0.2-0.7-0.4-0.9-0.3-0.2-0.6-0.3-1-0.3h-1.6v4.2h0.5v-1.8h1.2l0.8 1.8h0.5zm-2.5-2.2v-1.5h1c0.2 0 0.4 0 0.6 0.1s0.3 0.3 0.3 0.6c0 0.2-0.1 0.4-0.2 0.5-0.2 0.2-0.4 0.2-0.7 0.2h-1z"
              ></path>
              <path
                fill="currentColor"
                d="m8.6 71.2c-1.2 0.6-2.1 0.8-3.3 0.8-3.3 0-5-2.1-5-4.3s1.9-4.3 5.2-4.3c1.2 0 2.3 0.2 3.1 0.7v1.9c-0.9-0.5-1.9-0.9-3-0.9-1.8 0-3.1 1.1-3.1 2.5 0 1.5 1.3 2.6 3.1 2.6 1.1 0 1.9-0.3 3.1-0.9v1.9z"
              ></path>
              <path
                fill="currentColor"
                d="m21 72c-3.2 0-4.9-2.2-4.9-4.3 0-2 1.7-4.3 4.9-4.3s4.9 2.3 4.9 4.3c0 2.2-1.8 4.3-4.9 4.3zm0-6.8c-1.6 0-2.7 1-2.7 2.5s1.1 2.5 2.7 2.5 2.7-1 2.7-2.5-1.1-2.5-2.7-2.5z"
              ></path>
              <path
                fill="currentColor"
                d="m40.7 63.6h1.9v8.4h-2.1v-5.2l-2.3 2.6h-0.3l-2.3-2.6v5.2h-2.1v-8.4h1.9l2.8 3.1 2.5-3.1z"
              ></path>
              <path
                fill="currentColor"
                d="m58.4 63.6h1.9v8.4h-2.1v-5.2l-2.3 2.6h-0.3l-2.3-2.6v5.2h-2.3v-8.4h1.9l2.8 3.1 2.7-3.1z"
              ></path>
              <path
                fill="currentColor"
                d="m76.6 63.6v4.7c0 2.8-1.9 3.7-4.3 3.7-2.5 0-4.3-1.1-4.3-3.7v-4.8h2.1v4.8c0 1.2 0.9 1.9 2.1 1.9 1.1 0 2.2-0.6 2.2-2.1v-4.7h2.2z"
              ></path>
              <path
                fill="currentColor"
                d="m93.2 71.9h-1.8l-4.8-5.4v5.4h-2.1v-8.4h2l4.6 5.1v-5.1h2.1v8.4z"
              ></path>
              <path fill="currentColor" d="m103.5 71.9h-2.1v-8.4h2.1v8.4z"
              ></path>
              <path
                fill="currentColor"
                d="m118.9 71.2c-1.2 0.6-2.1 0.8-3.4 0.8-3.3 0-5-2.1-5-4.3s1.9-4.3 5.2-4.3c1.2 0 2.3 0.2 3.1 0.7v1.9c-0.9-0.5-1.9-0.9-3-0.9-1.8 0-3.1 1.1-3.1 2.5 0 1.5 1.3 2.6 3.1 2.6 1.1 0 1.9-0.3 3.1-0.9v1.9z"
              ></path>
              <path
                fill="currentColor"
                d="m134.3 71.9h-2.3l-0.7-1.7h-3.8l-0.6 1.7h-2.3l3.5-8.4h2.5l3.7 8.4zm-5-6.4-1.3 3.2h2.6l-1.3-3.2z"
              ></path>
              <path
                fill="currentColor"
                d="m146.9 65.1h-3.1v6.8h-2.1v-6.8h-3.1v-1.5h8.4v1.5z"></path>
              <path fill="currentColor" d="m155.6 71.9h-2.1v-8.4h2.1v8.4z"
              ></path>
              <path
                fill="currentColor"
                d="m167 72c-3.2 0-4.9-2.2-4.9-4.3 0-2 1.7-4.3 4.9-4.3s4.9 2.3 4.9 4.3c0 2.2-1.8 4.3-4.9 4.3zm0-6.8c-1.6 0-2.7 1-2.7 2.5s1.1 2.5 2.7 2.5 2.7-1 2.7-2.5-1.1-2.5-2.7-2.5z"
              ></path>
              <path
                fill="currentColor"
                d="m187 71.9h-1.8l-4.8-5.4v5.4h-2.1v-8.4h2l4.6 5.1v-5.1h2.1v8.4z"
              ></path>
              <path
                fill="currentColor"
                d="m199.5 65.7c-1.2-0.5-2-0.7-2.7-0.7-0.8 0-1.3 0.3-1.3 0.7 0 1.3 4.4 0.9 4.4 3.8 0 1.6-1.4 2.5-3.3 2.5-1.5 0-2.2-0.4-3.1-0.8v-1.8c1.2 0.8 2 1.1 2.9 1.1 0.8 0 1.3-0.3 1.3-0.8 0-1.4-4.4-0.9-4.4-3.9 0-1.4 1.3-2.4 3.3-2.4 1 0 1.8 0.2 2.9 0.6v1.7z"
              ></path>
              <polygon points="162.4 34.1 158.8 34.1 172.4 55.2 175.9 55.2"
              ></polygon>
              <polygon
                fill="currentColor"
                points="158.8 34.1 172.4 55.2 129.2 55.2 142.7 34.1"></polygon>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-[70px] text-primary-content hover:text-secondary"
              role="img"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Logitech</title><path
                d="M24 5.098a1.35 1.35 0 0 1-1.35 1.35 1.35 1.35 0 0 1-1.352-1.35 1.35 1.35 0 0 1 1.351-1.351A1.35 1.35 0 0 1 24 5.097zM16.549 18.31a2.289 2.289 0 0 1-2.322-2.322H12.2c0 2.449 1.9 4.264 4.306 4.264s4.348-1.857 4.348-4.264H18.87c-.043 1.351-1.056 2.322-2.322 2.322zm5.108-2.828h1.984V7.377h-1.984zM0 15.483h1.984V4H0v11.483zm7.135-8.359c-2.449 0-4.307 1.858-4.307 4.264a4.27 4.27 0 0 0 4.307 4.306c2.406 0 4.306-1.858 4.306-4.264S9.583 7.124 7.135 7.124zm0 6.628c-1.31 0-2.322-1.013-2.322-2.364a2.289 2.289 0 0 1 2.322-2.322 2.289 2.289 0 0 1 2.321 2.322c0 1.309-.97 2.364-2.321 2.364zm13.635-4.77V7.377h-2.828c-.464-.21-.929-.253-1.393-.253-2.449 0-4.348 1.858-4.348 4.306 0 2.449 1.9 4.264 4.306 4.264s4.306-1.858 4.306-4.264c0-.844-.254-1.604-.676-2.195zm-4.221 4.77c-1.309 0-2.322-1.013-2.322-2.364a2.289 2.289 0 0 1 2.322-2.322 2.289 2.289 0 0 1 2.322 2.322c0 1.309-1.056 2.364-2.322 2.364Z"
              ></path></svg
            >
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 200 100"
              class="h-[70px] text-primary-content hover:text-secondary"
              fill="currentColor"
              role="img"
            >
              <path
                fill="currentColor"
                d="M156.5,50.8c0,8.6-7.2,15.6-16.1,15.6c-8.9,0-16.1-7-16.1-15.6s7.2-15.7,16.1-15.7
              C149.3,35.2,156.5,42.2,156.5,50.8 M140.4,43.3c-4,0-7.2,3.4-7.2,7.5c0,4.2,3.2,7.5,7.2,7.5s7.2-3.4,7.2-7.5
              C147.7,46.6,144.4,43.3,140.4,43.3"
              ></path>
              <polygon
                fill="currentColor"
                points="0.9,35.7 0.9,66 21.4,66 21.4,58 9.4,58 9.4,35.7 "
              ></polygon>
              <polygon
                fill="currentColor"
                points="26.1,35.7 26.1,66 48.8,66 48.8,58.1 34.6,58.1 34.6,53.9 44.9,53.9 44.9,47.5 34.6,47.5 34.6,43.6
              48.6,43.6 48.6,35.7 "
              ></polygon>
              <path
                fill="currentColor"
                d="M74.1,35.7c0,0-4.8,13-6.4,17.3c-1.6-4.4-6.4-17.3-6.4-17.3h-9.4L64,66.2h7.1l12.2-30.5H74.1z"
              ></path>
              <rect
                x="86.9"
                y="35.7"
                fill="currentColor"
                width="8.6"
                height="30.3"></rect>
              <polygon
                fill="currentColor"
                points="100.8,35.7 100.8,43.8 108.3,43.8 108.3,66 116.9,66 116.9,43.8 124.4,43.8 124.4,35.7 "
              ></polygon>
              <path
                fill="currentColor"
                d="M178.4,35.7v15.2c-3-4-11.2-15.2-11.2-15.2h-7.5v30.8h8.5V50.7c3.1,4,11.7,15.8,11.7,15.8h7V35.7H178.4z"
              ></path>
              <path
                fill="currentColor"
                d="M194.3,66.5c-2.7,0-4.8-2.2-4.8-4.8c0-2.7,2.2-4.8,4.8-4.8c2.7,0,4.8,2.2,4.8,4.8S197,66.5,194.3,66.5
               M194.3,57.7c-2.2,0-3.9,1.8-3.9,3.9c0,2.2,1.8,3.9,3.9,3.9c2.2,0,3.9-1.8,3.9-3.9S196.5,57.7,194.3,57.7 M195.6,64.6l-1.3-2.1
              c0-0.1-0.1-0.2-0.1-0.3H193v2.3h-0.9v-6h2.2c1.5,0,2.1,0.7,2.1,1.8c0,0.8-0.4,1.5-1.3,1.7l1.6,2.4h-1.1V64.6z M194.3,59.5H193v1.8
              h1.3c0.8,0,1.2-0.2,1.2-0.9C195.5,59.8,195.1,59.5,194.3,59.5"
              ></path>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-9 text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 677.87891 120.0752"
              ><g id="g7">
                <polygon
                  points="614.25781,91.649414 640.01074,91.649414 640.01074,0 614.25781,0 614.25781,91.649414 614.25781,91.649414 "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="polygon9"></polygon>
                <polygon
                  points="677.87891,0 677.87891,91.649414 652.12988,91.649414 652.12988,0 677.87891,0 677.87891,0 "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="polygon11"></polygon>
                <polygon
                  points="54.909668,35.59668 34.082031,35.59668 34.082031,0 0,0 0,91.649414 34.082031,91.649414 34.082031,46.205078 54.909668,46.205078 54.909668,91.649414 88.995117,91.649414 88.995117,0 54.909668,0 54.909668,35.59668 54.909668,35.59668 "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="polygon13"></polygon>
                <path
                  d="M 214.91406,34.082031 L 212.82959,28.024414 L 184.80518,28.024414 L 184.80518,91.649414 L 212.82959,91.649414 L 212.82959,53.398438 L 212.82959,53.398438 C 212.82959,45.06543 218.13379,40.522461 222.67725,40.522461 C 226.46338,40.522461 231.38525,41.279297 231.38525,49.612305 L 231.38525,49.612305 L 231.38525,91.649414 L 259.40967,91.649414 L 259.40967,50.370117 L 259.40967,50.370117 C 259.40967,27.267578 233.47314,18.180664 214.91406,34.082031 L 214.91406,34.082031 L 214.91406,34.082031 L 214.91406,34.082031 z "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="path15"></path>
                <path
                  d="M 502.73047,64.948242 L 489.66602,28.024414 L 470.54102,28.024414 L 457.47363,66.462891 L 443.83984,28.024414 L 417.14258,28.024414 L 416.95117,28.024414 L 406.35059,28.024414 L 392.9043,60.401367 L 373.96973,28.024414 L 341.96826,28.024414 L 379.64941,92.40625 L 374.72754,104.52148 L 374.72754,104.52148 C 373.02148,108.31152 368.94141,108.49902 368.14258,104.90039 C 368.14258,98.393555 362.86621,93.121094 356.35938,93.121094 C 349.85156,93.121094 344.57617,98.393555 344.57617,104.90039 C 344.62207,111.71875 351.4375,120.61816 364.87988,120.04883 C 378.32617,119.48242 384.00488,108.31152 385.89844,103.57715 L 385.89844,103.57715 L 417.04004,28.272461 L 439.4873,91.649414 L 459.93652,91.649414 L 472.43359,55.100586 L 485.31055,91.649414 L 504.62305,91.649414 L 526.39844,28.024414 L 515.22754,28.024414 L 502.73047,64.948242 L 502.73047,64.948242 L 502.73047,64.948242 z "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="path17"></path>
                <path
                  d="M 137.27686,24.790039 C 115.83398,24.790039 98.453613,40.734375 98.453613,60.401367 C 98.453613,80.075195 115.83398,96.019531 137.27686,96.019531 C 158.72363,96.019531 176.10791,80.075195 176.10791,60.401367 C 176.10791,40.734375 158.72363,24.790039 137.27686,24.790039 L 137.27686,24.790039 L 137.27686,24.790039 L 137.27686,24.790039 z M 146.93701,77.063477 C 146.93701,82.399414 142.61279,86.723633 137.27686,86.723633 C 131.94824,86.723633 127.62402,82.399414 127.62402,77.063477 L 127.62402,77.063477 L 127.62402,43.742188 L 127.62402,43.742188 C 127.62402,38.410156 131.94824,34.089844 137.27686,34.089844 C 142.61279,34.089844 146.93701,38.410156 146.93701,43.742188 L 146.93701,43.742188 L 146.93701,77.063477 L 146.93701,77.063477 L 146.93701,77.063477 z "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="path19"></path>
                <path
                  d="M 345.0791,65.514648 C 345.28418,64.024414 345.38965,61.944336 345.38965,60.401367 C 345.38965,40.734375 328.00586,24.790039 306.56299,24.790039 C 285.11621,24.790039 267.73193,40.734375 267.73193,60.401367 C 267.73193,80.075195 285.11621,96.019531 306.56299,96.019531 C 321.29688,96.019531 334.11328,88.489258 340.69434,77.396484 L 340.69434,77.396484 L 332.11719,74.222656 L 332.11719,74.222656 C 326.93359,82.144531 317.4292,87.449219 306.56299,87.449219 C 301.22705,87.449219 296.90283,82.399414 296.90283,77.063477 L 296.90283,77.063477 L 296.90283,65.517578 L 345.0791,65.514648 L 345.0791,65.514648 L 345.0791,65.514648 z M 296.90283,43.742188 C 296.90283,38.410156 301.22705,34.089844 306.56299,34.089844 C 311.89502,34.089844 316.21924,38.410156 316.21924,43.742188 L 316.21924,43.742188 L 316.21924,56.427734 L 296.90283,56.427734 L 296.90283,43.742188 L 296.90283,43.742188 L 296.90283,43.742188 z "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="path21"></path>
                <path
                  d="M 604.48828,65.514648 C 604.69727,64.024414 604.80273,61.944336 604.80273,60.401367 C 604.80273,40.734375 587.41895,24.790039 565.97266,24.790039 C 544.5293,24.790039 527.14551,40.734375 527.14551,60.401367 C 527.14551,80.075195 544.5293,96.019531 565.97266,96.019531 C 580.70996,96.019531 593.52637,88.489258 600.10742,77.396484 L 600.10742,77.396484 L 591.53027,74.222656 L 591.53027,74.222656 C 586.34668,82.144531 576.84277,87.449219 565.97266,87.449219 C 560.63965,87.449219 556.31641,82.399414 556.31641,77.063477 L 556.31641,77.063477 L 556.31641,65.517578 L 604.48828,65.514648 L 604.48828,65.514648 L 604.48828,65.514648 z M 556.31641,43.742188 C 556.31641,38.410156 560.63965,34.089844 565.97266,34.089844 C 571.30859,34.089844 575.63281,38.410156 575.63281,43.742188 L 575.63281,43.742188 L 575.63281,56.427734 L 556.31641,56.427734 L 556.31641,43.742188 L 556.31641,43.742188 L 556.31641,43.742188 z "
                  fill="currentColor"
                  style="fill-rule:evenodd"
                  id="path23"></path>
              </g>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              role="img"
              class="h-[70px] text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>JBL</title><path
                d="M0 5.2645l2.0221 4.5892 2.0217-4.5892zm2.0221 7.601c.6982 0 1.2656-.5655 1.2656-1.2606 0-.6985-.5674-1.2618-1.2656-1.2618-.7003 0-1.2661.5633-1.2661 1.2618 0 .6951.5658 1.2607 1.2661 1.2607zm-1.0937 3.361c0 .9572.862 2.509 3.3142 2.509 2.4529 0 3.3154-1.1872 3.3154-2.509V5.2645H5.3693l.0011 11.3428c0 .6196-.5037 1.1392-1.1261 1.1392-.6231 0-1.1279-.5045-1.1279-1.124l-.0016-2.3108H.9284zm8.2885 2.3119V5.2645h4.3745c.8441 0 2.187.693 2.187 2.1628v2.2611c0 .6612-.5798 1.8328-1.4412 1.8328.8614 0 1.4412.7422 1.4412 1.3045v3.9788c0 .6767-.5463 1.7339-2.187 1.7339zm3.3802-7.559c.7955 0 .9944-.134.9944-2.2147 0-2.0801-.199-2.246-.9944-2.246h-1.1948v4.4575zm.9944 3.8108c0-2.0812 0-2.6906-.8636-2.6906h-1.3256v5.3482l1.3255.0027c.8636 0 .8636-.5807.8636-2.6603zm3.779 3.7482H24v-4.2267h-2.1886l.0016 2.3107c0 .6196-.5047 1.1241-1.1273 1.1241-.622 0-1.1273-.5045-1.1273-1.124V5.2644h-2.188Z"
                fill="currentColor"></path></svg
            >
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-[120px] text-primary-content hover:text-secondary"
              role="img"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Sonos</title><path
                d="M12.988 12.36l-2.813-2.634v4.429h.837V11.7l2.813 2.633V9.905h-.837zM6.464 9.665A2.3 2.3 0 0 0 4.13 12c0 1.257 1.077 2.334 2.334 2.334A2.3 2.3 0 0 0 8.798 12a2.3 2.3 0 0 0-2.334-2.334m0 3.83A1.482 1.482 0 0 1 4.968 12c0-.838.658-1.496 1.496-1.496S7.96 11.162 7.96 12s-.658 1.496-1.496 1.496M2.694 12c-.24-.18-.54-.3-.958-.419-.838-.24-.838-.479-.838-.598 0-.24.299-.48.718-.48.36 0 .658.18.778.24l.06.06.658-.479-.06-.06s-.538-.598-1.436-.598c-.419 0-.838.12-1.137.359-.3.24-.479.598-.479.958s.18.718.479.957c.24.18.538.3.957.42.838.239.838.478.838.598 0 .239-.299.478-.718.478-.359 0-.658-.18-.778-.239l-.06-.06-.658.479.06.06s.538.598 1.436.598c.42 0 .838-.12 1.137-.359.3-.24.48-.598.48-.957 0-.36-.18-.659-.48-.958m14.843-2.334A2.3 2.3 0 0 0 15.202 12a2.337 2.337 0 0 0 2.334 2.334A2.3 2.3 0 0 0 19.87 12a2.337 2.337 0 0 0-2.334-2.334m0 3.83A1.482 1.482 0 0 1 16.04 12c0-.838.658-1.496 1.496-1.496s1.496.658 1.496 1.496-.718 1.496-1.496 1.496m3.77-1.556c.24.18.54.3.958.42.838.239.838.478.838.598 0 .239-.299.478-.718.478-.36 0-.658-.18-.778-.239h-.06l-.658.479.06.06s.538.598 1.436.598c.419 0 .838-.12 1.137-.359s.479-.598.479-.958-.18-.718-.479-.957c-.24-.18-.538-.3-.957-.42-.838-.239-.838-.478-.838-.598 0-.239.299-.478.718-.478.359 0 .658.18.778.239l.06.06.658-.479-.06-.06s-.538-.598-1.436-.598c-.42 0-.838.12-1.137.359-.3.24-.48.598-.48.957-.059.36.12.659.48.898"
              ></path></svg
            >
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="300 260 200 75"
              class="h-[70px] text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
            >
              <title>Panduit</title><path
                d="M384.6,296.55l-2.75-7.66h-7.9v13.57l-5.25-13.57h-6.32c-0.9-3.74-3.59-6.28-8.46-6.38l-18.56,0.03v26.65h11.84v-8.69h6.93
	c1.35-0.01,2.57-0.24,3.65-0.66l-3.77,9.34h6.66l1.41-3.69l6.34,0.01l1.47,3.67h9.8v-7.61l3.17,7.61h7.43v-20.28h-5.68V296.55z
	 M351.23,294.75c0,0.73-0.49,1.34-1.28,1.38h-2.17v-9.59h2.17c0.79-0.06,1.25,0.61,1.28,1.41V294.75z M363.4,301.28l2.06-5.5
	l2.05,5.51L363.4,301.28z M428.08,309.17h6.35v-20.28h-6.35V309.17z M420.57,303.28c0,0.47-0.02,1.4-0.67,1.39l-1.61,0.01
	c-0.71,0-0.74-0.74-0.76-1.39l0.02-14.42h-6.6v16.08c0,3.96,4.16,4.23,4.16,4.23h7.2c3.6,0,3.55-4.16,3.55-4.16v-16.12h-5.41
	C420.49,297.27,420.57,303.28,420.57,303.28z M435.71,288.83v4.15h4.46v16.19h6.19v-16.19h4.52v-4.15H435.71z M405.42,288.76H392.9
	v20.34h12.52c1.87,0,3.33-0.55,3.33-2.78v-14.81C408.72,289.83,407.29,288.76,405.42,288.76z M402.83,302.81
	c0,0.94-0.46,1.34-0.98,1.34h-1.8v-11.11h1.62c0.7,0,1.16,0.58,1.16,1.34V302.81z"
              ></path>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-[70px] text-primary-content hover:text-secondary"
              role="img"
              fill="currentColor"
              viewBox="-20 -15 230 66.1"
              ><title>BrightSign</title>
              <g>
                <path
                  d="m0,1.73c1.54-.31,4.66-.54,7.59-.54,3.58,0,5.78.35,7.66,1.46,1.81.96,3.12,2.73,3.12,5.08s-1.35,4.47-4.27,5.55v.08c2.96.81,5.16,3.04,5.16,6.39,0,2.35-1.08,4.2-2.7,5.51-1.89,1.5-5.04,2.35-10.21,2.35-2.89,0-5.04-.19-6.35-.38V1.73Zm5.81,9.94h1.93c3.08,0,4.74-1.27,4.74-3.2s-1.5-3-4.16-3c-1.27,0-2,.08-2.5.15v6.05Zm0,11.51c.58.08,1.27.08,2.27.08,2.66,0,5.01-1.04,5.01-3.74s-2.35-3.66-5.28-3.66h-2v7.32Z"
                ></path>
                <path
                  d="m20.76,14.71c0-2.77-.08-4.58-.15-6.2h5.04l.19,3.47h.15c.96-2.73,3.27-3.89,5.08-3.89.54,0,.81,0,1.23.08v5.55c-.42-.12-.92-.19-1.58-.19-2.16,0-3.62,1.16-4.01,2.97-.08.38-.12.85-.12,1.31v9.55h-5.85v-12.63Z"
                ></path>
                <path
                  d="m40.67,3.27c0,1.62-1.23,2.93-3.16,2.93s-3.08-1.31-3.04-2.93c-.04-1.69,1.19-2.96,3.08-2.96s3.08,1.27,3.12,2.96Zm-6.05,24.07V8.51h5.85v18.83h-5.85Z"
                ></path>
                <path
                  d="m61.46,24.61c0,3.62-.73,6.59-2.85,8.47-2.08,1.77-4.89,2.31-7.66,2.31-2.46,0-5.08-.5-6.78-1.46l1.16-4.43c1.19.69,3.27,1.42,5.47,1.42,2.77,0,4.89-1.5,4.89-4.97v-1.23h-.08c-1.12,1.58-2.93,2.46-5.08,2.46-4.66,0-7.97-3.77-7.97-9.2,0-6.05,3.93-9.9,8.55-9.9,2.58,0,4.2,1.12,5.16,2.66h.08l.19-2.23h5.08c-.08,1.19-.15,2.77-.15,5.58v10.51Zm-5.85-8.43c0-.38-.04-.77-.12-1.08-.42-1.54-1.54-2.58-3.16-2.58-2.12,0-3.85,1.93-3.85,5.35,0,2.81,1.39,5.01,3.85,5.01,1.5,0,2.7-1,3.08-2.39.15-.42.19-1.04.19-1.54v-2.77Z"
                ></path>
                <path
                  d="m64.62,0h5.85v10.74h.08c.62-.81,1.39-1.46,2.31-1.93.89-.46,1.96-.73,3.04-.73,3.74,0,6.58,2.58,6.58,8.24v11.01h-5.85v-10.36c0-2.46-.85-4.16-3.04-4.16-1.54,0-2.5,1-2.93,2.04-.15.38-.19.88-.19,1.31v11.17h-5.85V0Z"
                ></path>
                <path
                  d="m92.19,3.39v5.12h4.2v4.31h-4.2v6.82c0,2.27.54,3.31,2.31,3.31.81,0,1.16-.04,1.73-.15l.04,4.43c-.77.31-2.16.54-3.81.54-1.89,0-3.47-.69-4.39-1.66-1.08-1.12-1.62-2.93-1.62-5.58v-7.7h-2.5v-4.31h2.5v-3.54l5.74-1.58Z"
                ></path>
                <path
                  d="m99.12,23.26c1.5.92,3.7,1.69,6.01,1.69,3.43,0,5.43-1.81,5.43-4.43,0-2.43-1.39-3.81-4.89-5.16-4.24-1.5-6.85-3.7-6.85-7.36,0-4.04,3.35-7.05,8.4-7.05,2.66,0,4.58.62,5.74,1.27l-.92,2.73c-.85-.46-2.58-1.23-4.93-1.23-3.54,0-4.89,2.12-4.89,3.89,0,2.43,1.58,3.62,5.16,5.01,4.39,1.69,6.62,3.81,6.62,7.63,0,4-2.96,7.51-9.09,7.51-2.5,0-5.24-.77-6.62-1.69l.85-2.81Z"
                ></path>
                <path
                  d="m120.69,3.47c.04,1.16-.81,2.08-2.16,2.08-1.19,0-2.04-.92-2.04-2.08s.89-2.12,2.12-2.12,2.08.92,2.08,2.12Zm-3.77,23.88V8.7h3.39v18.64h-3.39Z"
                ></path>
                <path
                  d="m140.29,24.65c0,4.27-.85,6.89-2.66,8.51-1.81,1.7-4.43,2.23-6.78,2.23s-4.7-.54-6.2-1.54l.85-2.58c1.23.77,3.16,1.46,5.47,1.46,3.47,0,6.01-1.81,6.01-6.51v-2.08h-.08c-1.04,1.73-3.04,3.12-5.93,3.12-4.62,0-7.93-3.93-7.93-9.09,0-6.32,4.12-9.9,8.4-9.9,3.23,0,5.01,1.69,5.81,3.24h.08l.15-2.81h2.96c-.08,1.35-.15,2.85-.15,5.12v10.82Zm-3.35-8.59c0-.58-.04-1.08-.19-1.54-.62-1.96-2.27-3.58-4.74-3.58-3.23,0-5.54,2.73-5.54,7.05,0,3.66,1.85,6.7,5.51,6.7,2.08,0,3.97-1.31,4.7-3.47.19-.58.27-1.23.27-1.81v-3.35Z"
                ></path>
                <path
                  d="m143.6,13.75c0-1.93-.04-3.5-.15-5.05h3l.19,3.08h.08c.92-1.77,3.08-3.5,6.16-3.5,2.58,0,6.58,1.54,6.58,7.93v11.13h-3.39v-10.74c0-3-1.12-5.51-4.31-5.51-2.23,0-3.97,1.58-4.54,3.47-.15.42-.23,1-.23,1.58v11.21h-3.39v-13.59Z"
                ></path>
              </g>
              <path
                d="m163.12,7.64c1.49,0,2.64,1.16,2.64,2.6s-1.16,2.61-2.66,2.61-2.67-1.14-2.67-2.61,1.19-2.6,2.67-2.6h.02Zm-.03.52c-1.14,0-1.99.93-1.99,2.07s.85,2.07,2.03,2.07c1.14.02,1.98-.92,1.98-2.07s-.84-2.07-2-2.07h-.02Zm-.39,3.42h-.6v-2.58c.24-.05.57-.09,1-.09.49,0,.71.08.9.21.14.11.25.32.25.55,0,.3-.22.52-.54.62v.03c.25.08.4.28.48.63.08.4.13.56.19.63h-.65c-.08-.1-.13-.32-.21-.62-.05-.28-.21-.41-.54-.41h-.28v1.03Zm.01-1.46h.29c.33,0,.6-.11.6-.38,0-.24-.17-.4-.55-.4-.16,0-.27.02-.33.03v.74Z"
              ></path>
            </svg>
          </a>
          <a href="#" class="flex justify-center items-center">
            <svg
              class="h-[120px] text-primary-content hover:text-secondary"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              ><title>Samsung</title><path
                d="M19.8166 10.2808l.0459 2.6934h-.023l-.7793-2.6934h-1.2837v3.3925h.8481l-.0458-2.785h.023l.8366 2.785h1.2264v-3.3925zm-16.149 0l-.6418 3.427h.9284l.4699-3.1175h.0229l.4585 3.1174h.9169l-.6304-3.4269zm5.1805 0l-.424 2.6132h-.023l-.424-2.6132H6.5788l-.0688 3.427h.8596l.023-3.0832h.0114l.573 3.0831h.8711l.5731-3.083h.023l.0228 3.083h.8596l-.0802-3.4269zm-7.2664 2.4527c.0343.0802.0229.1949.0114.2522-.0229.1146-.1031.2292-.3324.2292-.2177 0-.3438-.126-.3438-.3095v-.3323H0v.2636c0 .7679.6074.9971 1.2493.9971.6189 0 1.1346-.2178 1.2149-.7794.0458-.298.0114-.4928 0-.5616-.1605-.722-1.467-.9283-1.5588-1.3295-.0114-.0688-.0114-.1375 0-.1834.023-.1146.1032-.2292.3095-.2292.2063 0 .321.126.321.3095v.2063h.8595v-.2407c0-.745-.6762-.8596-1.1576-.8596-.6074 0-1.1117.2063-1.2034.7564-.023.149-.0344.2866.0114.4585.1376.7106 1.364.9169 1.5358 1.3524m11.152 0c.0343.0803.0228.1834.0114.2522-.023.1146-.1032.2292-.3324.2292-.2178 0-.3438-.126-.3438-.3095v-.3323h-.917v.2636c0 .7564.596.9857 1.2379.9857.6189 0 1.1232-.2063 1.2034-.7794.0459-.298.0115-.4814 0-.5616-.1375-.7106-1.4327-.9284-1.5243-1.318-.0115-.0688-.0115-.1376 0-.1835.0229-.1146.1031-.2292.3094-.2292.1948 0 .321.126.321.3095v.2063h.848v-.2407c0-.745-.6647-.8596-1.146-.8596-.6075 0-1.1004.1948-1.192.7564-.023.149-.023.2866.0114.4585.1376.7106 1.341.9054 1.513 1.3524m2.8882.4585c.2407 0 .3094-.1605.3323-.2522.0115-.0343.0115-.0917.0115-.126v-2.533h.871v2.4642c0 .0688 0 .1948-.0114.2292-.0573.6419-.5616.8482-1.192.8482-.6303 0-1.1346-.2063-1.192-.8482 0-.0344-.0114-.1604-.0114-.2292v-2.4642h.871v2.533c0 .0458 0 .0916.0115.126 0 .0917.0688.2522.3095.2522m7.1518-.0344c.2522 0 .3324-.1605.3553-.2522.0115-.0343.0115-.0917.0115-.126v-.4929h-.3553v-.5043H24v.917c0 .0687 0 .1145-.0115.2292-.0573.6303-.596.8481-1.2034.8481-.6075 0-1.1461-.2178-1.2034-.8481-.0115-.1147-.0115-.1605-.0115-.2293v-1.444c0-.0574.0115-.172.0115-.2293.0802-.6419.596-.8482 1.2034-.8482s1.1347.2063 1.2034.8482c.0115.1031.0115.2292.0115.2292v.1146h-.8596v-.1948s0-.0803-.0115-.1261c-.0114-.0802-.0802-.2521-.3438-.2521-.2521 0-.321.1604-.3438.2521-.0115.0458-.0115.1032-.0115.1605v1.5702c0 .0458 0 .0916.0115.126 0 .0917.0917.2522.3323.2522"
              ></path></svg
            >
          </a>
        </div>
      </div>
    </section>
  </div>
</MainLayout>

<script>
  import Typed from "typed.js";
  var typed = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 25,
    loop: false,
    showCursor: false,
  });
</script>
