---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout
  title="Veritas | Partners"
  seoTitle="Veritas | Partners"
  seoDescription="Companies and systems that Veritas uses for their projects"
>
  <div class="bg-graphics bg-auto lg:bg-cover absolute top-0 h-full w-full">
  </div>
  <section class="relative z-10">
    <div class="mx-auto max-w-screen-xl px-4 py-4">
      <div class="text-4xl text-center my-5 min-h-10">
        <span>You'll be in good company</span>
      </div>
      <label class="form-control w-full max-w-xs pointer-events-none">
        <div class="label">
          <span class="label-text">Which systems do you use?</span>
        </div>
        <div class="hidden" id="typed-strings">
          <p>3M</p>
          <p>Allen Tel</p>
          <p>APC</p>
          <p>Arlington</p>
          <p>BerkTek</p>
          <p>Brother</p>
          <p>Cooper B-Line</p>
          <p>Corning</p>
          <p>Dottie</p>
          <p>Hoffmann</p>
          <p>Leviton</p>
          <p>Panduit</p>
          <p>Rittal</p>
          <p>RXL</p>
          <p>Superstrut</p>
          <p>Altronix</p>
          <p>Life Safety Power</p>
          <p>Bosch</p>
          <p>Axis</p>
          <p>Gallagher</p>
        </div>
        <input
          id="typed"
          type="text"
          class="input input-bordered w-full max-w-xs"
        />
      </label>

      <!--Data Infrastructure Partner Logos-->

      <div class="divider divider-primary text-3xl py-6">
        Data Infrastructure
      </div>
      <div
        class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
      >
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="leviton logo"
        >
          <Icon name="leviton" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Fluke networks logo"
        >
          <Icon name="fluke" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="panduit logo"
        >
          <Icon name="panduit" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Commscope logo"
        >
          <Icon name="commscope" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Belden logo"
        >
          <Icon name="belden" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="American Power Conversion logo"
        >
          <Icon name="apc" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="nvent logo"
        >
          <Icon name="nvent" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="tripp lite logo"
        >
          <Icon name="tripplite" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Basor logo"
        >
          <Icon name="basor" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Cooper B Line logo"
        >
          <Icon name="bline" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Berk Tek cable logo"
        >
          <Icon name="berktek" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="milwaukee tools logo"
        >
          <Icon name="milwaukee" class="size-32" />
        </button>
      </div>

      <!--Wireless Partner Logos-->

      <div class="divider divider-primary text-3xl py-6">Wireless Systems</div>
      <div
        class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
      >
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="cisco logo"
        >
          <Icon name="cisco" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="cisco meraki logo"
        >
          <Icon name="meraki" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="ekahau logo"
        >
          <Icon name="ekahau" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="aruba logo"
        >
          <Icon name="aruba" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Air Magnet logo"
        >
          <Icon name="airmagnet" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="WilsonPro logo"
        >
          <Icon name="wilsonpro" class="size-32" />
        </button>
      </div>

      <!--Audio Visual Partner Logos-->

      <div class="divider divider-primary text-3xl py-6">
        Audio Visual Products
      </div>
      <div
        class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
      >
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="brightsign logo"
        >
          <Icon name="brightsign" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="jbl logo"
        >
          <Icon name="jbl" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="samsung logo"
        >
          <Icon name="samsung" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="LG logo"
        >
          <Icon name="lg" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="kramer logo"
        >
          <Icon name="kramer" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="legrand logo"
        >
          <Icon name="legrand" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="logitech logo"
        >
          <Icon name="logitech" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="sonos logo"
        >
          <Icon name="sonos" class="size-32" />
        </button>
      </div>

      <!--Security Partner Logos-->

      <div class="divider divider-primary text-3xl py-6">Security Partners</div>
      <div
        class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
      >
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="gallagher logo"
        >
          <Icon name="gallagher" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="assa abloy logo"
        >
          <Icon name="assaabloy" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="bosch logo"
        >
          <Icon name="bosch" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Milestone systems logo"
        >
          <Icon name="milestone" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Verkada access control logo"
        >
          <Icon name="verkada" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="Kisi access control logo"
        >
          <Icon name="kisi" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="honeywell logo"
        >
          <Icon name="honeywell" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="hanwha vision logo"
        >
          <Icon name="hanwha" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="axis logo"
        >
          <Icon name="axis" class="size-32" />
        </button>
        <button
          class="flex text-primary-content hover:text-secondary justify-center items-center transition-all cursor-default"
          aria-label="altronix logo"
        >
          <Icon name="altronix" class="size-32" />
        </button>
      </div>
    </div>
  </section>
</MainLayout>

<script src="../scripts/partnerscript.ts"></script>
