---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Veritas Projects"
  seoTitle="Projects with low and high voltage systems"
  seoDescription="Low voltage projects completed by Veritas for nationwide projects"
>
  <section class="w-8/12 lg:w-6/12 mx-auto">
    <div>
      <p
        class="text-4xl text-center my-5 drop-shadow-[10px_10px_35px_rgb(39,245,131)]"
      >
        Veritas Projects
      </p>
    </div>
  </section>
  <div class="my-6 text-center">
    <div class="stats stats-vertical lg:stats-horizontal shadow">
      <div class="stat">
        <div class="stat-title">Technicians</div>
        <div class="stat-value" id="technicians"></div>
        <div class="stat-desc">↗︎ 42 YoY (+34%)</div>
      </div>

      <div class="stat">
        <div class="stat-title">Completed Projects</div>
        <div class="stat-value" id="projects"></div>
        <div class="stat-desc">↗︎ 4360 YoY (+22%)</div>
      </div>

      <div class="stat">
        <div class="stat-title">Partners</div>
        <div class="stat-value" id="partners"></div>
        <div class="stat-desc">↗︎ 6 (+14%)</div>
      </div>
    </div>
  </div>
  <section class="w-8/12 lg:w-6/12 mx-auto">
    <div
      class="relative mx-auto max-w-6xl rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg"
    >
      <div class="bg-slate-800 p-7 rounded-md">
        <h1 class="font-bold text-xl mb-2">Verified. Certified. Tested.</h1>
        <p>
          Veritas Managed Solutions has established itself as a leading provider
          of
          <strong>low voltage</strong> projects in commercial, industrial, office,
          and residential environments since its establishment in 2009. With over
          <strong>30 years experience</strong>, our technicians and project
          managers are dedicated to delivering high-quality services to our
          clients, regardless of the size or complexity of the project. We are
          committed to providing <strong>innovative solutions</strong> that are tailored
          to the specific needs of each client, ensuring that our projects are completed
          on time and within budget. Veritas Managed Solutions' dedication to <strong
            >quality, reliability, and exceptional</strong
          > customer service has made us a reputation as a trusted partner for low
          voltage projects in various environments. Our <strong
            >commitment to excellence</strong
          > makes us the go-to choice for both businesses and homeowners looking
          to install low voltage systems.
        </p>
      </div>
    </div>
  </section>

  <section
    class="mt-8 p-6 grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-5 drop-shadow-[0px_10px_35px_rgba(39,245,131,0.6)] justify-items-center"
  >
    <a href="projects/av">
      <div
        class="relative grid transition-all hover:scale-105 h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
      >
        <div
          class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('/assets/featured/AudioVisual.jpeg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
        >
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
          >
          </div>
        </div>
        <div class="relative p-6 px-6 py-14 md:px-12">
          <h2
            class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
          >
            Nationwide multi-system conference room deployment
          </h2>
          <h5
            class="block mb-4 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-400"
          >
            Tesla
          </h5>
          <svg
            class="relative inline-block h-[74px] w-[74px] !rounded-full border-2 border-white bg-white object-cover object-center"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Tesla</title><path
              d="M12 5.362l2.475-3.026s4.245.09 8.471 2.054c-1.082 1.636-3.231 2.438-3.231 2.438-.146-1.439-1.154-1.79-4.354-1.79L12 24 8.619 5.034c-3.18 0-4.188.354-4.335 1.792 0 0-2.146-.795-3.229-2.43C5.28 2.431 9.525 2.34 9.525 2.34L12 5.362l-.004.002H12v-.002zm0-3.899c3.415-.03 7.326.528 11.328 2.28.535-.968.672-1.395.672-1.395C19.625.612 15.528.015 12 0 8.472.015 4.375.61 0 2.349c0 0 .195.525.672 1.396C4.674 1.989 8.585 1.435 12 1.46v.003z"
            ></path></svg
          >
        </div>
      </div>
    </a>
    <a href="projects/cctv">
      <div
        class="relative transition-all hover:scale-105 grid h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
      >
        <div
          class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('/assets/featured/CCTV.jpg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
        >
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
          >
          </div>
        </div>
        <div class="relative p-6 px-6 py-14 md:px-12">
          <h2
            class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
          >
            Gigafactory CCTV system
          </h2>
          <h5
            class="block mb-4 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-400"
          >
            Tesla
          </h5>
          <svg
            class="relative inline-block h-[74px] w-[74px] !rounded-full border-2 border-white bg-white object-cover object-center"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Tesla</title><path
              d="M12 5.362l2.475-3.026s4.245.09 8.471 2.054c-1.082 1.636-3.231 2.438-3.231 2.438-.146-1.439-1.154-1.79-4.354-1.79L12 24 8.619 5.034c-3.18 0-4.188.354-4.335 1.792 0 0-2.146-.795-3.229-2.43C5.28 2.431 9.525 2.34 9.525 2.34L12 5.362l-.004.002H12v-.002zm0-3.899c3.415-.03 7.326.528 11.328 2.28.535-.968.672-1.395.672-1.395C19.625.612 15.528.015 12 0 8.472.015 4.375.61 0 2.349c0 0 .195.525.672 1.396C4.674 1.989 8.585 1.435 12 1.46v.003z"
            ></path></svg
          >
        </div>
      </div>
    </a>
    <a href="/projects/data">
      <div
        class="relative transition-all hover:scale-105 grid h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
      >
        <div
          class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('/assets/featured/Fiber.jpeg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
        >
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
          >
          </div>
        </div>
        <div class="relative p-6 px-6 py-14 md:px-12">
          <h2
            class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
          >
            Campus network and data cabling
          </h2>
          <h5
            class="block mb-4 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-400"
          >
            Snowflake
          </h5>
          <svg
            class="relative inline-block h-[74px] w-[74px] !rounded-full border-2 border-white bg-white object-cover object-center"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 146.36 139.16"
            ><defs
              ><style>
                .cls-1 {
                  fill: #29b5e8;
                  fill-rule: evenodd;
                }
              </style></defs
            ><path
              class="cls-1"
              d="M134.81,60.1l-16.47,9.49L134.81,79a8.65,8.65,0,1,1-8.67,15l-29.51-17a8.68,8.68,0,0,1-4.33-7.75,8.48,8.48,0,0,1,.31-2,8.68,8.68,0,0,1,4-5.19l29.51-16.94A8.69,8.69,0,0,1,138,48.31,8.58,8.58,0,0,1,134.81,60.1Zm-15.59,46L89.72,89.13a8.72,8.72,0,0,0-13.06,7.48v33.9a8.69,8.69,0,0,0,17.37,0v-19L110.54,121a8.66,8.66,0,1,0,8.68-15Zm-34-33.16L72.92,85.09a2.44,2.44,0,0,1-1.54.65H67.77a2.51,2.51,0,0,1-1.54-.65L54,72.9a2.45,2.45,0,0,1-.64-1.52v-3.6A2.5,2.5,0,0,1,54,66.25L66.23,54.06a2.5,2.5,0,0,1,1.54-.64h3.61a2.45,2.45,0,0,1,1.54.64L85.18,66.25a2.49,2.49,0,0,1,.63,1.53v3.6A2.44,2.44,0,0,1,85.18,72.9Zm-9.8-3.38A2.59,2.59,0,0,0,74.73,68l-3.55-3.51a2.51,2.51,0,0,0-1.54-.64h-.13a2.46,2.46,0,0,0-1.53.64L64.43,68a2.51,2.51,0,0,0-.63,1.55v.13a2.41,2.41,0,0,0,.63,1.52L68,74.7a2.48,2.48,0,0,0,1.53.64h.13a2.51,2.51,0,0,0,1.54-.64l3.55-3.53a2.49,2.49,0,0,0,.65-1.52ZM19.93,33.08,49.44,50a8.73,8.73,0,0,0,13.07-7.49V8.64a8.69,8.69,0,0,0-17.37,0v19l-16.53-9.5a8.65,8.65,0,1,0-8.68,15ZM84.69,51.16a8.64,8.64,0,0,0,5-1.13l29.5-17a8.65,8.65,0,1,0-8.68-15L94,27.61v-19a8.69,8.69,0,0,0-17.37,0v33.9A8.66,8.66,0,0,0,84.69,51.16ZM54.48,88a8.58,8.58,0,0,0-5,1.13L19.93,106.06a8.66,8.66,0,1,0,8.68,15l16.53-9.49v19a8.69,8.69,0,0,0,17.37,0V96.61A8.65,8.65,0,0,0,54.48,88Zm-8-15.87a8.61,8.61,0,0,0-4-10L13,45.14A8.69,8.69,0,0,0,1.17,48.31,8.59,8.59,0,0,0,4.35,60.1l16.47,9.49L4.35,79A8.65,8.65,0,1,0,13,94l29.48-17A8.59,8.59,0,0,0,46.47,72.13Zm93.15-56.22H138.3v1.63h1.32c.61,0,1-.28,1-.8S140.26,15.91,139.62,15.91Zm-2.94-1.5h3c1.62,0,2.7.89,2.7,2.27a2.16,2.16,0,0,1-1.08,1.9l1.17,1.68v.34h-1.69L139.62,19H138.3V20.6h-1.62Zm8.3,3.22a5.48,5.48,0,0,0-5.58-5.83c-3.31,0-5.51,2.39-5.51,5.83,0,3.28,2.2,5.82,5.51,5.82A5.47,5.47,0,0,0,145,17.63Zm1.38,0c0,3.89-2.6,7.14-7,7.14s-6.89-3.28-6.89-7.14,2.57-7.14,6.89-7.14S146.36,13.73,146.36,17.63Z"
              ><title>Snowflake</title></path
            ></svg
          >
        </div>
      </div>
    </a>
    <a href="projects/wireless">
      <div
        class="relative transition-all hover:scale-105 grid h-[40rem] w-full max-w-[28rem] flex-col items-end justify-center overflow-hidden rounded-xl bg-white bg-clip-border text-center text-gray-700"
      >
        <div
          class="absolute inset-0 m-0 h-full w-full overflow-hidden rounded-none bg-transparent bg-[url('/assets/featured/Wireless.jpeg')] bg-cover bg-clip-border bg-center text-gray-700 shadow-none"
        >
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-t from-black/80 via-black/50"
          >
          </div>
        </div>
        <div class="relative p-6 px-6 py-14 md:px-12">
          <h2
            class="mb-6 block font-sans text-4xl font-medium leading-[1.5] tracking-normal text-white antialiased"
          >
            Wireless warehouse heat maps
          </h2>
          <h5
            class="block mb-4 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-gray-400"
          >
            Amazon
          </h5>
          <svg
            class="relative inline-block h-[74px] w-[74px] !rounded-full border-2 border-white bg-white object-cover object-center"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Amazon</title><path
              d="M.045 18.02c.072-.116.187-.124.348-.022 3.636 2.11 7.594 3.166 11.87 3.166 2.852 0 5.668-.533 8.447-1.595l.315-.14c.138-.06.234-.1.293-.13.226-.088.39-.046.525.13.12.174.09.336-.12.48-.256.19-.6.41-1.006.654-1.244.743-2.64 1.316-4.185 1.726a17.617 17.617 0 01-10.951-.577 17.88 17.88 0 01-5.43-3.35c-.1-.074-.151-.15-.151-.22 0-.047.021-.09.051-.13zm6.565-6.218c0-1.005.247-1.863.743-2.577.495-.71 1.17-1.25 2.04-1.615.796-.335 1.756-.575 2.912-.72.39-.046 1.033-.103 1.92-.174v-.37c0-.93-.105-1.558-.3-1.875-.302-.43-.78-.65-1.44-.65h-.182c-.48.046-.896.196-1.246.46-.35.27-.575.63-.675 1.096-.06.3-.206.465-.435.51l-2.52-.315c-.248-.06-.372-.18-.372-.39 0-.046.007-.09.022-.15.247-1.29.855-2.25 1.82-2.88.976-.616 2.1-.975 3.39-1.05h.54c1.65 0 2.957.434 3.888 1.29.135.15.27.3.405.48.12.165.224.314.283.45.075.134.15.33.195.57.06.254.105.42.135.51.03.104.062.3.076.615.01.313.02.493.02.553v5.28c0 .376.06.72.165 1.036.105.313.21.54.315.674l.51.674c.09.136.136.256.136.36 0 .12-.06.226-.18.314-1.2 1.05-1.86 1.62-1.963 1.71-.165.135-.375.15-.63.045a6.062 6.062 0 01-.526-.496l-.31-.347a9.391 9.391 0 01-.317-.42l-.3-.435c-.81.886-1.603 1.44-2.4 1.665-.494.15-1.093.227-1.83.227-1.11 0-2.04-.343-2.76-1.034-.72-.69-1.08-1.665-1.08-2.94l-.05-.076zm3.753-.438c0 .566.14 1.02.425 1.364.285.34.675.512 1.155.512.045 0 .106-.007.195-.02.09-.016.134-.023.166-.023.614-.16 1.08-.553 1.424-1.178.165-.28.285-.58.36-.91.09-.32.12-.59.135-.8.015-.195.015-.54.015-1.005v-.54c-.84 0-1.484.06-1.92.18-1.275.36-1.92 1.17-1.92 2.43l-.035-.02zm9.162 7.027c.03-.06.075-.11.132-.17.362-.243.714-.41 1.05-.5a8.094 8.094 0 011.612-.24c.14-.012.28 0 .41.03.65.06 1.05.168 1.172.33.063.09.099.228.099.39v.15c0 .51-.149 1.11-.424 1.8-.278.69-.664 1.248-1.156 1.68-.073.06-.14.09-.197.09-.03 0-.06 0-.09-.012-.09-.044-.107-.12-.064-.24.54-1.26.806-2.143.806-2.64 0-.15-.03-.27-.087-.344-.145-.166-.55-.257-1.224-.257-.243 0-.533.016-.87.046-.363.045-.7.09-1 .135-.09 0-.148-.014-.18-.044-.03-.03-.036-.047-.02-.077 0-.017.006-.03.02-.063v-.06z"
            ></path>
          </svg>
        </div>
      </div>
    </a>
  </section>
</MainLayout>

<script>
  import { CountUp } from "countup.js";
  const options = {
    suffix: "+",
    enableScrollSpy: true,
  };
  let techs = new CountUp("technicians", 163, options);
  let projects = new CountUp("projects", 13343, options);
  let partners = new CountUp("partners", 53, options);
</script>
