---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Veritas Projects"
  seoTitle="Projects with low and high voltage systems"
  seoDescription="Low voltage projects completed by Veritas for nationwide projects"
>
  <section class="w-8/12 lg:w-6/12 mx-auto">
    <div>
      <p class="text-4xl text-center my-5">Veritas Projects</p>
    </div>
  </section>
  <div class="my-6 text-center">
    <div class="stats stats-vertical lg:stats-horizontal shadow">
      <div class="stat">
        <div class="stat-title">Technicians</div>
        <div class="stat-value" id="technicianstat"></div>
        <div class="stat-desc">↗︎ 42 YoY (+34%)</div>
      </div>

      <div class="stat">
        <div class="stat-title">Completed Projects</div>
        <div class="stat-value" id="projectstat"></div>
        <div class="stat-desc">↗︎ 2360 YoY (+22%)</div>
      </div>

      <div class="stat">
        <div class="stat-title">Partners</div>
        <div class="stat-value" id="partnerstat"></div>
        <div class="stat-desc">↗︎ 6 (+14%)</div>
      </div>
    </div>
  </div>

  <section
    class="mt-8 p-6 grid grid-flow-row lg:grid-cols-3 gap-5 shadow-accent justify-around justify-items-center"
  >
    <a href="projects/av">
      <div
        class="card lg:card-side image-full bg-base-100 shadow-xl transition-all hover:scale-105 w-11/12 max-h-96"
      >
        <figure>
          <img
            src="/assets/featured/AudioVisual.jpeg"
            alt="Conference Room"
            class="object-cover object-center"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Nationwide multi-system conference room deployment
          </h2>
          <p>Click to view details and more A/V projects</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Tesla</div>
          </div>
        </div>
      </div>
    </a>
    <a href="projects/wireless">
      <div
        class="card lg:card-side image-full bg-base-100 shadow-xl transition-all hover:scale-105 w-11/12 max-h-96"
      >
        <figure>
          <img
            src="/assets/featured/Wireless.jpeg"
            alt="Wireless Access Point"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Warehouse heat maps</h2>
          <p>Click to view details and more wireless projects</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Amazon</div>
          </div>
        </div>
      </div>
    </a>
    <a href="projects/cctv">
      <div
        class="card lg:card-side image-full bg-base-100 shadow-xl transition-all hover:scale-105 w-11/12 max-h-96"
      >
        <figure>
          <img src="/assets/featured/CCTV.jpg" alt="Security Camera" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Gigafactory CCTV system</h2>
          <p>Click to view details and more CCTV projects</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Tesla</div>
          </div>
        </div>
      </div>
    </a>
    <a href="projects/data">
      <div
        class="card lg:card-side image-full bg-base-100 shadow-xl transition-all hover:scale-105 w-11/12 max-h-96"
      >
        <figure>
          <img src="/assets/featured/Fiber.jpeg" alt="Fiber Optic Cable" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Campus network and data cabling</h2>
          <p>Click to view details and more data cabling projects</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Snowflake</div>
          </div>
        </div>
      </div>
    </a>
  </section>
</MainLayout>

<script>
  import { CountUp } from "countup.js";
  const options = {
    suffix: "+",
    enableScrollSpy: true,
    scrollSpyOnce: true,
    scrollSpyDelay: 1000,
  };
  let techs = new CountUp("technicianstat", 163, options);
  let projects = new CountUp("projectstat", 13343, options);
  let partners = new CountUp("partnerstat", 53, options);
</script>
