---
import { Icon } from "astro-icon/components";
---

<html>
  <body class="p-12 text-center">
    <h1 class="text-3xl font-bold">Thank you for applying!</h1>
    <p class="mt-4">We'll review your application and get back to you soon.</p>
    <a href="/careers">
      <button class="btn btn-primary my-4">
        <Icon name="lucide:arrow-left" /> Back to site
      </button></a
    >
  </body>
</html>
