---
import Carousel from "./carousel.astro";
import Photo from "./photo.astro";
import type { ComponentProps } from "astro/types";
import cctv1 from "../assets/install_pictures/cctv/1.jpg";
import cctv2 from "../assets/install_pictures/cctv/2.jpg";
import cctv3 from "../assets/install_pictures/cctv/3.jpg";
import cctv4 from "../assets/install_pictures/cctv/4.jpg";
import cctv5 from "../assets/install_pictures/cctv/5.jpg";
import cctv6 from "../assets/install_pictures/cctv/6.jpg";
import cctv7 from "../assets/install_pictures/cctv/7.jpg";

const cctvimages: ComponentProps<typeof Carousel>["images"] = [
  {
    src: cctv1,
    alt: "Veritas cctv cabling installation",
    width: cctv1.width,
    height: cctv1.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv2,
    alt: "Veritas cctv cabling installation",
    width: cctv2.width,
    height: cctv2.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv3,
    alt: "Veritas cctv cabling installation",
    width: cctv3.width,
    height: cctv3.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv4,
    alt: "Veritas cctv cabling installation",
    width: cctv4.width,
    height: cctv4.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv5,
    alt: "Veritas cctv cabling installation",
    width: cctv5.width,
    height: cctv5.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv6,
    alt: "Veritas cctv cabling installation",
    width: cctv6.width,
    height: cctv6.height,
    widths: [200, 675, 1350],
  },
  {
    src: cctv7,
    alt: "Veritas cctv cabling installation",
    width: cctv7.width,
    height: cctv7.height,
    widths: [200, 675, 1350],
  },
];
---

<ul
  class="grid sm:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-2 lg:gap-8 list-none m-3 lg:m-20"
  id="carouselTargetList"
>
  {
    cctvimages.map((img, i) => {
      return (
        <li class="cursor-pointer">
          <a
            href={`?image=${i}`}
            data-carousel-index={i}
            class="block hover:-translate-y-2 transition-all"
            data-astro-reload
          >
            <Photo
              {...img}
              class="object-contain object-center w-full min-h-full"
            />
          </a>
        </li>
      );
    })
  }
</ul>
<Carousel images={cctvimages} />
