---
import { Icon } from "astro-icon/components";
---

<footer class="footer bg-base-200 text-base-content p-10 z-40">
  <aside>
    <div class="text-center mr-auto ml-auto">
      <Icon name="veritaswhitetitle" class="size-48 inline" />
      <p class="text-base-content">
        <span id="copyright"></span> | All rights reserved
      </p>
    </div>
  </aside>
  <nav>
    <h1 class="footer-title link link-underline link-underline-black">
      <a href="/projects">Solutions</a>
    </h1>
    <a class="link link-underline link-underline-black" href="/data"
      >Cable Infrastructure</a
    >
    <a class="link link-underline link-underline-black" href="/wireless"
      >Wireless Services</a
    >
    <a class="link link-underline link-underline-black" href="/av"
      >Audio and Visual</a
    >
    <a class="link link-underline link-underline-black" href="/security"
      >Security Services</a
    >
    <a class="link link-underline link-underline-black" href="/IT"
      >Information Technology</a
    >
    <a class="link link-underline link-underline-black" href="/managedservices"
      >Managed Services</a
    >
    <a class="link link-underline link-underline-black" href="/electrical"
      >Electrical</a
    >
    <a class="link link-underline link-underline-black" href="/consultation"
      >Consultation</a
    >
  </nav>
  <nav>
    <h1 class="footer-title">Company</h1>
    <a class="link link-underline link-underline-black" href="/about/#history"
      >History</a
    >
    <a
      class="link link-underline link-underline-black"
      href="/about/#contactinfo">Contact Info</a
    >
    <a class="link link-underline link-underline-black" href="/about/#locations"
      >Locations</a
    >
    <a
      class="link link-underline link-underline-black"
      href="/about/#contactform">Contact Form</a
    >
  </nav>
  <nav>
    <h1 class="footer-title">Legal</h1>
    <a class="link link-underline link-underline-black" href="/privacy"
      >Privacy policy</a
    >
  </nav>
  <nav class="grid-flow-col gap-4 md:place-self-start md:justify-self-end">
    <a
      class="btn btn-ghost"
      aria-label="Veritas Linkedin page"
      href="https://www.linkedin.com/company/veritas-managed-solutions-inc/"
      target="_blank"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 448 512"
        class="fill-base-content"
        ><path
          d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H49V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
        ></path></svg
      >
    </a>
    <a
      class="btn btn-ghost"
      aria-label="Veritas Yelp page"
      href="https://www.yelp.com/biz/veritas-managed-solutions-santa-clara"
      target="_blank"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        class="fill-base-content"
        viewBox="0 0 16 16"
      >
        <path
          d="m4.188 10.095l.736-.17l.073-.02A.813.813 0 0 0 5.45 8.65a1 1 0 0 0-.3-.258a3 3 0 0 0-.428-.198l-.808-.295a76 76 0 0 0-1.364-.493C2.253 7.3 2 7.208 1.783 7.14c-.041-.013-.087-.025-.124-.038a2.1 2.1 0 0 0-.606-.116a.72.72 0 0 0-.572.245a2 2 0 0 0-.105.132a1.6 1.6 0 0 0-.155.309c-.15.443-.225.908-.22 1.376c.002.423.013.966.246 1.334a.8.8 0 0 0 .22.24c.166.114.333.129.507.141c.26.019.513-.045.764-.103l2.447-.566zm8.219-3.911a4.2 4.2 0 0 0-.8-1.14a1.6 1.6 0 0 0-.275-.21a2 2 0 0 0-.15-.073a.72.72 0 0 0-.621.031c-.142.07-.294.182-.496.37c-.028.028-.063.06-.094.089c-.167.156-.353.35-.574.575q-.51.516-1.01 1.042l-.598.62a3 3 0 0 0-.298.365a1 1 0 0 0-.157.364a.8.8 0 0 0 .007.301q0 .007.003.013a.81.81 0 0 0 .945.616l.074-.014l3.185-.736c.251-.058.506-.112.732-.242c.151-.088.295-.175.394-.35a.8.8 0 0 0 .093-.313c.05-.434-.178-.927-.36-1.308M6.706 7.523c.23-.29.23-.722.25-1.075c.07-1.181.143-2.362.201-3.543c.022-.448.07-.89.044-1.34c-.022-.372-.025-.799-.26-1.104C6.528-.077 5.644-.033 5.04.05q-.278.038-.553.104a8 8 0 0 0-.543.149c-.58.19-1.393.537-1.53 1.204c-.078.377.106.763.249 1.107c.173.417.41.792.625 1.185c.57 1.036 1.15 2.066 1.728 3.097c.172.308.36.697.695.857q.033.015.068.025c.15.057.313.068.469.032l.028-.007a.8.8 0 0 0 .377-.226zm-.276 3.161a.74.74 0 0 0-.923-.234a1 1 0 0 0-.145.09a2 2 0 0 0-.346.354c-.026.033-.05.077-.08.104l-.512.705q-.435.591-.861 1.193c-.185.26-.346.479-.472.673l-.072.11c-.152.235-.238.406-.282.559a.7.7 0 0 0-.03.314c.013.11.05.217.108.312q.046.07.1.138a1.6 1.6 0 0 0 .257.237a4.5 4.5 0 0 0 2.196.76a1.6 1.6 0 0 0 .349-.027a2 2 0 0 0 .163-.048a.8.8 0 0 0 .278-.178a.7.7 0 0 0 .17-.266c.059-.147.098-.335.123-.613l.012-.13c.02-.231.03-.502.045-.821q.037-.735.06-1.469l.033-.87a2.1 2.1 0 0 0-.055-.623a1 1 0 0 0-.117-.27Zm5.783 1.362a2.2 2.2 0 0 0-.498-.378l-.112-.067c-.199-.12-.438-.246-.719-.398q-.644-.353-1.295-.695l-.767-.407c-.04-.012-.08-.04-.118-.059a2 2 0 0 0-.466-.166a1 1 0 0 0-.17-.018a.74.74 0 0 0-.725.616a1 1 0 0 0 .01.293c.038.204.13.406.224.583l.41.768q.341.65.696 1.294c.152.28.28.52.398.719q.036.057.068.112c.145.239.261.39.379.497a.73.73 0 0 0 .596.201a2 2 0 0 0 .168-.029a1.6 1.6 0 0 0 .325-.129a4 4 0 0 0 .855-.64c.306-.3.577-.63.788-1.006q.045-.08.076-.165a2 2 0 0 0 .051-.161q.019-.083.029-.168a.8.8 0 0 0-.038-.327a.7.7 0 0 0-.165-.27"
        ></path>
      </svg>
    </a>
    <a
      class="btn btn-ghost"
      aria-label="Veritas Facebook page"
      href="https://www.facebook.com/veritasmanagedsolutions/"
      target="_blank"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 512 512"
        class="fill-base-content"
        ><path
          d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
        ></path></svg
      ></a
    >
  </nav>
</footer>

<style>
  #footertitle {
    font-family: "EBGaramond-Medium,", serif;
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
    text-decoration-line: none;
    line-height: 2;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#f4f4f4, #f4f4f4);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
</style>
<script>
  document.addEventListener("astro:page-load", () => {
    footerYear();
  });
  function footerYear() {
    document.querySelector("#copyright").textContent = new Date()
      .getFullYear()
      .toString();
  }
</script>
