---
import Carousel from "./carousel.astro";
import Photo from "./photo.astro";
import type { ComponentProps } from "astro/types";
import managedservices1 from "../assets/install_pictures/managedservices/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg";
import managedservices2 from "../assets/install_pictures/managedservices/israel-andrade-YI_9SivVt_s-unsplash.jpg";
import managedservices3 from "../assets/install_pictures/managedservices/john-schnobrich-FlPc9_VocJ4-unsplash.jpg";
import managedservices4 from "../assets/install_pictures/managedservices/lycs-architecture-U2BI3GMnSSE-unsplash.jpg";
import managedservices5 from "../assets/install_pictures/managedservices/mohammad-rahmani-8OnkIkFBBtM-unsplash.jpg";
import managedservices6 from "../assets/install_pictures/managedservices/thisisengineering-SyRlD4s_amw-unsplash.jpg";

const MSimages: ComponentProps<typeof Carousel>["images"] = [
  {
    src: managedservices1,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices1.width,
    height: managedservices1.height,
    widths: [200, 675, 1350],
  },
  {
    src: managedservices2,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices2.width,
    height: managedservices2.height,
    widths: [200, 675, 1350],
  },
  {
    src: managedservices3,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices3.width,
    height: managedservices3.height,
    widths: [200, 675, 1350],
  },
  {
    src: managedservices4,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices4.width,
    height: managedservices4.height,
    widths: [200, 675, 1350],
  },
  {
    src: managedservices5,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices5.width,
    height: managedservices5.height,
    widths: [200, 675, 1350],
  },
  {
    src: managedservices6,
    alt: "Vermanagedservicesas managed services offices",
    width: managedservices6.width,
    height: managedservices6.height,
    widths: [200, 675, 1350],
  },
];
---

<Carousel images={MSimages} />
<ul
  class="grid sm:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-2 lg:gap-8 list-none m-3 lg:m-20"
  id="carouselTargetList"
>
  {
    MSimages.map((img, i) => {
      return (
        <li class="cursor-pointer">
          <a
            href={`?image=${i}`}
            data-carousel-index={i}
            class="block hover:-translate-y-2 transition-all"
            data-astro-reload
          >
            <Photo
              {...img}
              class="object-contain object-center w-full min-h-full"
            />
          </a>
        </li>
      );
    })
  }
</ul>
