<div
  class="block sticky pointer-events-none bottom-20 justify-center h-12 mx-auto"
>
  <a
    href="/careers"
    class="btn text-white place-content-center bg-accent w-fit h-full"
    >Careers and Opportunities</a
  >
</div>
