---
import Carousel from "./carousel.astro";
import Photo from "./photo.astro";
import type { ComponentProps } from "astro/types";
import wireless1 from "../assets/install_pictures/wireless/1.png";
import wireless2 from "../assets/install_pictures/wireless/2.jpg";
import wireless3 from "../assets/install_pictures/wireless/3.jpg";
import wireless4 from "../assets/install_pictures/wireless/4.jpg";
import wireless5 from "../assets/install_pictures/wireless/5.jpg";
import wireless6 from "../assets/install_pictures/wireless/6.jpg";
import wireless7 from "../assets/install_pictures/wireless/7.jpg";
import wireless8 from "../assets/install_pictures/wireless/8.jpg";
import wireless9 from "../assets/install_pictures/wireless/9.jpg";

const wirelessimages: ComponentProps<typeof Carousel>["images"] = [
  {
    src: wireless1,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless1.width,
    height: wireless1.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless2,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless2.width,
    height: wireless2.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless3,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless3.width,
    height: wireless3.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless4,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless4.width,
    height: wireless4.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless5,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless5.width,
    height: wireless5.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless6,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless6.width,
    height: wireless6.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless7,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless7.width,
    height: wireless7.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless8,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless8.width,
    height: wireless8.height,
    widths: [200, 675, 1350],
  },
  {
    src: wireless9,
    alt: "Veritas wireless devices and cabling installation",
    width: wireless9.width,
    height: wireless9.height,
    widths: [200, 675, 1350],
  },
];
---

<Carousel images={wirelessimages} />
<ul
  class="grid sm:grid-cols-2 lg:grid-cols-3 justify-center items-center gap-2 lg:gap-8 list-none p-3 lg:p-20"
  id="carouselTargetList"
>
  {
    wirelessimages.map((img, i) => {
      return (
        <li class="cursor-pointer">
          <a
            href={`?image=${i}`}
            data-carousel-index={i}
            class="block hover:-translate-y-2 transition-all"
            data-astro-reload
          >
            <Photo
              {...img}
              class="object-contain object-center w-full min-h-full"
            />
          </a>
        </li>
      );
    })
  }
</ul>
