---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <!-- Container for demo purpose -->
  <div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div class="flex lg:grid items-center lg:grid-cols-2">
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14"
            >
              <h2 class="mb-8 text-3xl font-bold">Gigafactory Camera System</h2>
              <p
                class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0"
              >
                The entire camera system for Tesla's Gigafactories in both Reno
                and Austin was completed by Veritas
              </p>
            </div>
          </div>

          <div>
            <img
              src="/assets/featured/CCTV.jpg"
              class="w-full rounded-lg shadow-lg dark:shadow-black/20"
              alt="conference room"
            />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <div class="container mx-auto px-5 py-2 lg:px-32">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/1.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/2.jpg"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/3.jpg"
          />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/7.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/5.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/cctv/6.jpg"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-12 lg:mb-0">
    <div
      class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 mx-32"
    >
      <h2 class="mb-8 text-3xl font-bold">Other security systems offered:</h2>

      <div
        class="mx-auto mb-8 flex flex-col md:justify-around lg:justify-between"
      >
        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Camera Systems
        </p>
        <p class="my-2 text-neutral-500 dark:text-neutral-300">
          Veritas installs and programs commercial-grade cameras in industrial
          sites, retail settings, churches, custom homes, and more. Our projects
          range from a single discrete camera to hundreds of cameras covering
          millions of square feet.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Intruder Detection Systems
        </p>
        <p class="my-2 text-neutral-500 dark:text-neutral-300">
          Veritas installs motion detectors, door contacts, keypads, and more.
          We custom design each system to fit the customer’s needs, and program
          our equipment for offsite monitoring.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Access Control
        </p>
        <p class="my-2 text-neutral-500 dark:text-neutral-300">
          Veritas consults with our customers to identify their specific
          security requirements. Veritas tailors security solutions to any
          location, utilizing card readers, keypads, and door contacts.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Intercom
        </p>
        <p class="my-2 text-neutral-500 dark:text-neutral-300">
          Veritas installs intercom systems enabling customers to regulate
          access to their facilities.
        </p>

        <p
          class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 font-bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Lock Hardware
        </p>
        <p class="my-2 text-neutral-500 dark:text-neutral-300">
          Veritas installs electrified lock hardware to secure buildings and
          protect sensitive interior areas for clients.
        </p>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (1).jpg"
          />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (1).jpeg"
          />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (1).png"
          />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (2).jpeg"
          />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (3).jpg"
          />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center hover:scale-105 transition-all"
            src="/assets/install_pictures/security/1 (2).png"
          />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
