---
import Header from "../components/Header.astro";
import Footer from "../components/footer.astro";
import SideBar from "../components/SideBar.astro";
import MainHead from "./MainHead.astro";
const {
  title,
  seoTitle,
  seoDescription,
  includeSidebar = true,
  sideBarActiveItemID,
} = Astro.props;
---

<html lang="en" data-theme="business">
  <MainHead title={title} seoTitle={seoTitle} seoDescription={seoDescription} />
  <body>
    <div class="bg-base-100 drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header />
        <div class="flex flex-col justify-between min-h-screen">
          <div class="md:flex md:justify-center">
            <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
              <slot />
            </main>
          </div>
          <Footer />
        </div>
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
